<div class="container-fluid profile-background">
  
  <!--Common user's profile tab -->
  <user-profile-tabs></user-profile-tabs>

  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="row">
        <div class="my_nude_show_photos">
          <h3 class="text-center">My Nude Show Photos</h3>

          <div *ngIf="photo_lists.length">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3" *ngFor="let photo of photo_lists">
              <img [src]="app_url + photo.image_name" class="img-responsive">
              <!-- <input type="checkbox" name="" id=""> -->
            </div>
          </div>

        </div>
      </div>

      <div class="loader" *ngIf="loader">
        <div class="spin"></div>
        <div class="bounce"></div>
      </div>

      <div class="text-center mt-3" *ngIf="skipCount > 0 && datasAvailable > 0">
        <button class="show-more-btn" (click)="showMore()">show more</button>
      </div>

      <div class="no_result_class text-center" *ngIf="photo_lists.length <= 0">
        <div>
            <h3 class="tab-head text-center">No photos found</h3>
            <img class="noresult-img img-responsive" src="../../../assets/img/no-result.gif">
        </div>
    </div>

    </div>
  </div>

</div>
