.post-header{
	color: #203864 !important;
}
.text-center{
	text-align: center;
}
.text-secondary{
	color: #999;
}
.bg-secondary{
	background: #e8e8e8;
}
.mt-2{
	margin-top: 1.5rem;
}
.mt-3{
	margin-top: 2rem;
}
.p-2{
	padding: .5rem;
}
.large{
	font-size: 18px;
}
.w-auto{
	width: auto!important;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.mt-1{
	margin-top: .1rem;
}
.input-container {
    display: inline-flex;
    margin-bottom: 5px;
}
.form-inline .form-control {
    vertical-align: baseline;
}
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.input-field {
    padding: 7px;
    outline: none;
    border-bottom-left-radius: 0px!important;
    border-top-left-radius: 0px!important;
}
.d-inline{
	display: inline;
}
.bold{
	font-weight: bold;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #b1def9;
}
.border-shadow {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.border-shadow-2 {
    position: relative;
    background: #fff;
    margin: 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
h5.ui-header {
    padding: 35px 10px;
    background: #a0c3db;
    background-image: -webkit-linear-gradient(top, #a0c3db, #466284);
    background-image: -moz-linear-gradient(top, #a0c3db, #466284);
    background-image: -ms-linear-gradient(top, #a0c3db, #466284);
    background-image: -o-linear-gradient(top, #a0c3db, #466284);
    background-image: linear-gradient(to bottom, #a0c3db, #466284);
}
.btn-green{
	background-color: #21ba45;
    color: #fff;
    padding: 10px 25px;
}
.btn-green:hover{
	color: #000;
}
.btn-live{
	position: relative;
	font-size: 2rem;
	font-weight: 600;
}
.btn-live .fa{
	position: absolute;
	font-size: 35px;
	top:7px;
}
.w-100{
	width: 100%;
}
.img-container{
	position: relative;
	color: #fff;
}
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  text-align: left;
  color: #fff;
  padding: 5px;
}
.top-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  text-align: left;
  color: #fff;
  padding: 5px;
}
.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  text-align: right;
  color: #fff;
  padding: 5px;
}
.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  text-align: right;
  color: #fff;
  padding: 5px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plr-10px{
	padding-left: 10px;
	padding-right: 10px;
}
.grid{
	padding: 3px;
}

/*rating form start*/
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 2em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
  font-size: 25px;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #ffc52a;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #ffc52a;
  text-shadow: 0 0 1px #333;
}


.rating-box{
  width:300px;
  height:300px;
  border:solid 1px #c1c1c1;
  margin:0 auto;
  position:relative;
}

/*fieldset{border:none;padding:5px 20px;}*/
.rating-success{display:none;
    text-align: center;
    font-size: 20px;
    padding: 30px 0;}
.rating-success.active{display:block}

.rating-form input.text-field{display:block;width:100%;line-height:25px;font-size:14px;padding:0 10px;border:solid 1px #c1c1c1;}

.rating-form #review{width:100%;padding:0 10px;line-height:25px;font-size:14px;height:100px;border:solid 1px #c1c1c1;}

.rating-form #submit{width:100px;line-height:30px;font-size:14px;border-radius:0;-webkit-appearance:none;background: #ffc52a;color: white;border:none;outline:none;}

.error{padding-left:20px;color:red;font-size:12px;}
/*rating form end*/