<div class="wrapper bg-grey1 error-page">
    <div class="">
        <!-- <ERROR IMAGE SECTION STARTS -->
        <div class="container center-align">
            <img src="../../../assets/img/error.gif" class="error-img img-responsive">
            <div class="Spacer-5"></div>
            <h3 class="tab-head">An error Occurred in the Application And Your Page could not be Served.</h3>
            <div>
                <a routerLink="/"><button class="btn btn-default btn-block btn-lg width-200" type="button" >GO BACK</button></a>
            </div>
        </div>
        <!-- ERROR IMAGE SECTION ENDS -->
    </div>
</div>