<div class="complaint mb-3">
  <form id="dcmaForm" #dcmaForm="ngForm" (ngSubmit)="dcmaFormFn(dcmaForm)">
     <div class="form-group">
        <label class="bold">Infringing URL</label>
        <input type="text" name="url" [(ngModel)]="url" id="infrining_url" class="form-control" required>
     </div>
     <div class="form-group">
        <label class="bold">Your e-mail address</label>
        <input type="email" name="email" ngModel #emailWithPattern="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
        required class="form-control">
     </div>
     <div class="form-group">
        <label class="bold">More information</label>
        <textarea name="more_info" id="info" [(ngModel)]="more_info" rows="7" class="form-control" required></textarea>
     </div>
     <div class="form-group">
        <input type="submit" class="btn btn-info"  [disabled]="dcmaForm.invalid" value="Submit">
     </div>
  </form>
</div>