<footer>
	<ul>
		<li class="" *ngFor="let top_link of top_links">
			<a [routerLink]="['/page']" [queryParams]="{page_id:top_link.id}">{{top_link.heading}}</a>
		</li>
		
	</ul>
	<hr>
	
	<div class="footer-content">
		<p [innerHTML]="mid_content"></p>
	</div>

	<ul>
		<li class="" *ngFor="let bottom_link of bottom_links">
			<a [routerLink]="['/page']" [queryParams]="{page_id:bottom_link.id}">{{bottom_link.heading}}</a>
		</li>		
	</ul>
	<p class="text-center">Copyright © 2020. All Rights Reserved.</p>	
</footer>