.modelsnews-bg {
    background: #FFFFFF url(../../../../../assets/img/model/footer-bg.png) scroll;
    border-top: 2px solid #FFFFFF;
    margin: 20px auto 0;
    position: relative;
    font-size: 16px;
    background-position: 279px center;
    background-color: #4E4E72;
}
.post-contant {
    background-color: #fff;
    padding-left: 2%;
    padding-right: 2%;
}
.modelsnews-bg .main-heading {
    background-color: #ff8787;
}
.text-center {
    text-align: center!important;
}
.text-light {
    color: #f8f9fa!important;
}
.p-2 {
    padding: .5rem!important;
}
.h1, h1 {
    font-size: 2.5rem;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.postdate {
    color: #acabab;
    padding-top: 23px;
    padding-left: 23px;
    text-transform: uppercase;
    border-top: 2px solid #ff87873d;
}
.text-dark {
    color: #343a40!important;
}
.f-10 {
    font-size: 10px;
}
.text-left {
    text-align: left!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.mt-5{margin-top: 3rem;}
.mb-5{margin-bottom: 3rem;}
 h3 {
    font-size: 1.75rem;
}
.post-author {
    font-size: 10px;
    float: right;
    width: 18%;
}
.border {
    border: 2px solid #b5def9!important;
}
.border:hover {
    border: 2px solid #ff8787!important;
}