<div class="container-fluid profile-background">
  
  <!--Common user's profile tab -->
  <user-profile-tabs></user-profile-tabs>

  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="row">
        <div class="recorded-video">
          <h2 class="text-center p-3">MY RECORDED VIDEOS</h2>
          <div class="col-lg-12 col-md-12 col-sm-12 mt-3">

            <div *ngIf="recorded_video_lists.length" id="lightgallery">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 hover-display" *ngFor="let video of recorded_video_lists; let i = index;">
                <div class="item" attr.data-poster="assets/img/video-icon.png" attr.data-html="#video{{i}}" class="item" data-sub-html='<div class="fb-comments s_comntPanlars_M" data-width="400" data-numposts="0"></div>'>
                  <img [src]="video.snapshot" class="img-responsive">
                  <input type="hidden" value="{{video.id}}" id="post_{{i}}"/>
                </div>
                <div class="parent-accept-delete">
                  <div class="accept-delete">
                    <span class="btn btn-sm btn-danger cstm-padding mt-1 float-left" (click)="deleteVideo(video.id)"><i class="fa fa-trash"></i></span>
                    <span class="btn btn-sm btn-success cstm-padding mt-1 float-right" (click)="selectVideo(video.id)"><i class="fa fa-check"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div *ngFor="let video of recorded_video_lists; let i = index" class="col-xs-6 col-sm-4 col-md-3">
              <div style="display:none;" id="video{{i}}">
                <video class="lg-video-object lg-html5" controls preload="none">
                  <source src="{{app_url+'/video_capture/'+video.model_id+'/'+video.video_name}}" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              </div>
            </div>

            <!-- <div class="tab-content mt-3 mb-3 rec-videos">
              <div id="tab1" class="tab-pane fade in active">
                <div class="video-scroll">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3 hover-display" *ngFor="let video of recorded_video_lists">
                      <a *ngIf="video" (click)="showPopup(video)" data-toggle="modal" data-target="#videoModel">
                        <img [src]="video.snapshot" class="img-responsive">
                      </a>
                      <div class="parent-accept-delete">
                        <div class="accept-delete">
                          <span class="btn btn-sm btn-danger cstm-padding mt-1 float-left" (click)="deleteVideo(video.id)"><i class="fa fa-trash"></i></span>
                          <span class="btn btn-sm btn-success cstm-padding mt-1 float-right" (click)="selectVideo(video.id)"><i class="fa fa-check"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- The Video model -->
<div *ngIf="showModalBox" class="modal fade" id="videoModel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <!-- <h4 class="modal-title">Modal Heading</h4> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid video-control">
          <div class="row">
            <div class="col-lg-12 col-md-12 mt-3">
                <!-- <img src="file:///C:/Users/Rahul%20Kumar/Desktop/lightbox-popup/images/1920x1080.jpg" class="img-responsive object-fit-cover w-100 h-100"> -->
                <video controls>
                  <source [src]="app_url+'/video_capture/'+active_video.model_id+'/'+active_video.video_name" type="video/mp4" />
                  Browser not supported
                </video>

            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>