<div class="container-fluid">
  <h1 class="text-center post-header">Performer Dashboard</h1>
  <div class="border-shadow">
    <h5 class="ui-header">{{model_name}} (#{{model_id}})</h5>
    <span>Account Status: Verified</span>
    <div class="mt-2">
      <p class="text-secondary">Your current balance: {{performer_details.total_candies}}</p>
    </div>
  </div>
  <div class="border-shadow">
    <h5 class="ui-header">Webcam Room: {{model_name}}</h5>
    <form #goLiveForm="ngForm" class="mt-2" (ngSubmit)="goLive(goLiveForm)">
      <div class="form-group mt-3">
        <select class="form-control w-auto d-inline" name="show_type" [(ngModel)]="show_type">
          <option [value]="performer_details.free">Free Chat</option>
          <option [value]="performer_details.topless">Topless Show</option>
          <option [value]="performer_details.nude">Nude Show</option>
        </select>
        <div class="mt-2">
          <p><strong>Topless Show: </strong> Paid Mode: {{performer_details.topless_price}}tkCandy/m</p>
          <p><strong>Nude Show: </strong> Paid Mode: {{performer_details.nude_price}}tkCandy/m</p>
        </div>
      </div>
      <!-- <div class="form-group mt-3">
        <label class="bold">Cost Per Minute:</label>
        <input type="text" name="costPerMinute" id="costPerMinute" class="form-control w-auto" value="30">
      </div> -->
      <div class="form-group mt-3">
          <label class="bold">My Channels &nbsp;&nbsp;&nbsp;<i class="fa fa-refresh"></i> :</label>
          <select name="channel" class="form-control mt-2 w-auto" required [(ngModel)]="selectedChannel" (change)="onChange($event.target.value)">
            <option value="" selected>Select Channel</option>
            <option [value]="channel.id" *ngFor="let channel of channel_list">{{channel.channel_name}}</option>
          </select>

          <div *ngIf="selectedChannel != ''" class="mt-3">
            <label class="bold">Cost Per Minute (Private-tkCandy/m):</label>
            <input type="number" name="channel_cpm" placeholder="Ex (30)"  [(ngModel)]="channel_price" pattern="[0-9]*" class="form-control w-auto"  required>
          </div>
      </div>
      <div class="form-group mt-3">
        <a class="btn btn-default" data-toggle="modal" data-target="#addChannel" #channelBtn><i class="fa fa-plus"></i> Add Channel</a>
      </div>
      <div class="form-group mt-3">
        <button type="submit" name="submit" [disabled]="!goLiveForm.valid" class="btn btn-green btn-live">Go Live &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i></button>
      </div>
    </form>
  </div>
  <div class="text-center bg-secondary p-2">{{model_name}}</div>
</div>

<!-- Modal -->
<div id="addChannel" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top: 14%">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a New Channel</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addChannel(channelName.value, channelPrice.value); channelForm.reset()" #channelForm="ngForm">
           <div class="form-group mt-3">
             <label class="bold">Channel Name :</label>
             <input type="text" class="form-control" name="channelName" #channelName ngModel autocomplete="off" pattern="[a-zA-Z0-9\_ ]*" maxlength="20" required>
             <label class="bold mt-3">Price (Private Cost Per Minute) : </label>
             <input type="text" class="form-control" name="channelPrice" value="{{performer_details.private_show_price}}" #channelPrice ngModel autocomplete="off" pattern="[0-9]*" maxlength="7" required>
             <div class="text-center mt-3">
               <input type="submit" [disabled]="!channelForm.valid" name="save_channel" class="btn btn-sm btn-info mt-2" value="Save Channel">
             </div>
           </div>
         </form>
      </div>
    </div>
  </div>
</div>