<div class="page-bg">
  <div class="container post-contant">
     <div class="row bg-white">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center main-heading">
           <h1 class="pb-2 text-light">Privacy Policy</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
           <h1>Introduction</h1>
           <p class="p">StreamVertigo Inc., (also referred to herein as “Company,” “us,” or “we”) respects your privacy and is committed to protecting it through our compliance with the policies and procedures stated in this Privacy Policy. This Privacy Policy (the “Policy”) applies to all websites (the “StreamVertigo Website(s)”) StreamVertigo Inc. and its subsidiaries (collectively, “Stream Vertigo,” “us”, “our,” “we”).</p>

           <p class="p">The Company is committed to safeguard the privacy expectations of its users (“User(s)”, “you” or “your”). We have put this Privacy Policy in place to outline our data protection practices, including how we collect, use, disclose and protect your Personal Information, as well as your rights with consideration to your Personal Information. We developed this Policy to ensure that your privacy is protected while using any of the StreamVertigo Websites or services.</p>

           <p class="p">This Privacy Policy applies to any “Personal Information” we collect in all the following ways:</p>

           <ol>
              <li>On any of our websites,</li>
              <li>By email and other electronic messages between You and Us,</li>
              <li>Offline, such as when you send physical mail to us, or contact us by phone</li>
              <li>When you interact with any of our advertising and application on third-party websites and service, of those applications or advertising include a link to this Privacy Policy</li>
              <li>Information you provide us when requesting services</li>
           </ol>

           <p class="p">We encourage you to read the Privacy Policy thoroughly and use it to make informed decisions. By visiting the Company’s websites, other online properties, or by creating an account through our Services, you hereby agree to the Privacy Policy. If you do not agree with our policies and procedures, your choice is to stop using our website and its services.</p>

           <h4>Minors</h4>

           <p class="p">Our websites are not intended for and shall not be used by anyone who is not of “Legal Age,” meaning any person under the age of 18 years old and/or the age of majority and legal consent in the region in which you live. If you are not Legally of Age, you may not provide any information to or on this website and should not knowingly access any of our websites. StreamVertigo Inc, does not knowingly collect contact or personal information from any persons who is not Legally of Age.</p>

           <p class="p">We reserve the right to access and confirm any Personal Information collected from you. If we become aware that a user, who is not Legally of Age, has shared any information, we will immediately discard such information from our servers. If you have any reason to believe that a minor has shared any information with us, please contact us at <a href="mailto:admin@streamvertigo.com">admin@streamvertigo.com.</a></p>

           <p class="p"><strong>How we collect, use, and disclose collected information.</strong></p>
           <p class="p">We collect Personal Information in the following ways listed below:</p>

           <ol>
              <li>When you visit our site.
                 <ul>
                    <li>If you do not have an account and you are a visitor, we do not collect any personal information about you other than through our use of cookies. If you choose to register, in order to make use of our services, you will need be asked to provide certain Personal Information.</li>
                 </ul>
              </li>
              <li>When you register for an account with Us or interact with our Services.
                 <ul>
                    <li>We collect Personal Information when you use or interact with our Services, including but not limited to: when you register with Us, create your profile, browse our products online, and make purchases from us (including processing of payments). This information includes but is not limited to, your name, address, phone number, username, password, email address, date of birth, payment information, location data, marital status, pictures, videos, income, IP address, phone number, and information collected through cookies. “Location data” refers to either approximate or with your consent, precise location.</li>
                 </ul>
              </li>
              <li>When you provide or share Personal Information within our Services.
                 <ul>
                    <li>Either through communication through our instant messaging feature or communication through email.</li>
                 </ul>
              </li>
              <li>When you communicate with us or sign up for promotional notifications.
                 <ul>
                    <li>We collect your personal information when you communicate with us or sign up to receive promotional materials via email, mail, or text messages.</li>
                 </ul>
              </li>
              <li>When we collect Personal Information from third party services, third party tracking technologies, or publicly-available resources.
                 <ul>
                    <li>When you visit or access our services, we use web beacons, cookies, pixels, scripts, tags, device ISs, advertising IDs, geolocation, HTML5 local storage, Flash cookies, IP addresses and other technologies.</li>
                    <li>We may obtain certain formation about you from a third-party or publicly-available sources to improve our Services, performance/analytics, for personalization, marketing, and advertising purposes. Please refer to “Third Party Use of Cookies and Other Tracking Technologies” for more information.</li>
                 </ul>
              </li>
              <li>When you engage with our online community and/or advertising.
                 <ul>
                    <li>We may collect your Personal Information when you engage with our online communities such as when you click on advertisements, interact with our social media pages, submit content, leave reviews, or otherwise enter information into comment fields, leave reviews, events, or other forums affiliated with StreamVertigo Inc.</li>
                 </ul>
              </li>
           </ol>

           <p class="p">
              <strong>We use your Personal Information for the purposes listed below:</strong>
           </p>

           <ol>
              <li> To set up, manage, and update your account.
              </li>
              <li> To provide and operate the services provided for use.
              </li>
              <li> To communicate with you and to keep you informed on our latest offers and service updates.
              </li>
              <li> To conduct analytics for statistical and research purposes in order to improve and customize the Services to your needs and interests.
              </li>
              <li> For User relationship management purposes and to respond to support and troubleshooting inquiries.
              </li>
              <li> To enable Us to further customize and improve our Services based on a Users’ most common preferences and uses.
              </li>
              <li> In order to communicate with you and process any of your requests to your User Rights.
               </li>
              <li> To identify and validate your access to certain features of our Services.
              </li>
              <li> To detect and prevent illegal, suspicious, and fraudulent activity or any other type of activity that may jeopardize or negatively affect the ethic of our Services by identifying risks associated with your activity on our Services.
              </li>
              <li> To investigate any infringement of our policies and User Agreement, as well as enforce our policies and the User Agreement.
              </li>
              <li> To investigate and resolve disputes in relation with your use of the Services.
              </li>
              <li> As required by law or regulation or as required by other    governmental authorities, or to comply with any legal process such as a subpoena or respond to a government request.
              </li>
           </ol>

           <p class="p">You express and explicitly acknowledge and agree that your email address or other means of communication with you may be used to send you offers, information or any other commercially oriented emails or other forms of communications. You may remove yourself from any mailing lists at any moment by following the instructions that shall be sent as part of any such mailings or unsubscribing.</p>

           <p class="p"><strong>To Whom Will We Disclose Your Information?</strong></p>

           <p class="p">We may release collected information about our Users that does not identify any individual, without conditions. We may disclose personal information that we collect, or you provide, as described throughout this Privacy Policy.</p>

           <p class="p">We may share or transfer you Personal Information with our subsidiaries and affiliates operation other StreamVertigo websites so that they can send you information about their products or services that you may be interested in.</p>

           <p class="p">We do not sell or rent any of your Personal Information with third parties except as described in this Privacy Policy. Your Personal Information will only be disclosed to third-parties to the extent required for the specific purposes stated in this Privacy Policy.</p>

           <p class="p">We may share your Personal Information to any third-party service providers as well as their subcontractors. This includes but is not limited to marketing affiliates, identity verification and fraud prevention services, cloud computing service providers, auditors, or contractors of any of the Company’s business process.</p>

           <p class="p">Your Personal Information will be disclosed to any of our service providers (i.e. billing services, credit card processing companies) as reasonably necessary in order to provide services on StreamVertigo websites. Our service providers are legally bound by us to protect your Personal Information. Some of the StreamVertigo websites operate or use services providers in different countries, your personal information may be exchanged with a country in which you do not reside in and may be accessible to its law enforcement authorities as well.</p>

           <p class="p">If in any case, we have potential purchasers or investors in any of the companies within the Company or in the event of a corporate transactions such as a sale or transfer of some or all StreamVertigo assets, whether as a going concern of our business, bankruptcy, consolidation, or a similar proceeding, in which Personal Information being held by StreamVertigo Inc., and about our website users is among the assets transferred. In such an event, the acquiring company or transference will assume the rights and obligations as described in this Privacy Policy.</p>

           <p class="p">In addition, we may also disclose your Personal Information to comply with any court order, law, subpoena, search warrant, or lawful request by public authorities, including to meet national security or law enforcement requirements.</p>

           <p class="p">We reserve the right to disclose your Personal Information when we genuinely believe that disclosure of this information is necessary to protect our rights, to enforce agreements, policies, and rules governing your use of the StreamVertigo websites and/ or report information concerning a threat of serious injury or even death.</p>

           <p class="p">When providing us with your Personal Information, you consent to our use and disclosure of that information as described in this policy. If you do not want us to use or disclose this Personal Information as described in this Policy, do not provide it to us. This may result in limited or incapable use of some or all our Services.</p>

           <p class="p"><strong>Third-party Use of Cookies and Additional Tracking Technologies</strong></p>

           <ol>
              <li> Please note that this Privacy Policy does not apply to any third-party websites, services or applications.</li>
              <li> Some content or applications including advertisements, on our websites are served by third-parties, including advertisers, ad networks and servers, content providers and application providers. </li>
              <li> The information they collect may be associated with your personal information or they may even collect information about your online activities over time and across different websites and other online services in order to create personalized advertising.</li>
              <li> We do not control these third parties’ tracking technologies or how they may be used. If you should have any questions about an advertisement, please contact the provider of such content, directly.</li>
           </ol>

           <h4>Our use of cookies</h4>

           <p class="p">StreamVertigo Websites use “cookies” to store and sometimes track information to customize your online experience. Usage of Cookies allows us to track which of our online featured you prefer but does not reveal anything personally about you unless you give Us additional information.</p>

           <p class="p">Cookies used on our website give us access to small amounts of data that are stored by a User’s web browser on the User’s storage drive. Some cookies are necessary for optimal usage of our websites.</p>

           <p class="p">Some Cookies collect anonymous information on the pages you visit including how long you are on the site, how you got there, and what you clicked on.</p>

           <p class="p">By using our websites, you agree that we can place cookies on your browser to enable you to receive customized ads and more personalized content.</p>

           <p class="p">You have the choice to alter your browser preferences. This means you have the choice to accept all cookies, to be notified when a cookie is set, or to reject all cookies. As mentioned before, if you reject some or all cookies, your experience on our website and other sites throughout the Web may not be complete. Some sites require cookies to function and by not allowing cookies you will not be able to take advantage of personalized content delivery.</p>

           <p class="p"><strong>How We Help Secure Your Personal Information</strong></p>

           <p class="p">To help secure your Information and prevent loss or misuse of it, we have put appropriate technological safeguard to maintain data protection.</p>

           <p class="p">Some of these procedures would include but are not limited to: Use of firewall systems, coded communication, and authentication and access control.</p>

           <p class="p">Although we take precautionary measures to protect your Information, we cannot be responsible for the acts of those who gain unauthorized access or abuse the Services we provide. We cannot make any promises, imply or be certain that we will prevent such access.</p>

           <p class="p"><strong>Retention of Your Personal Information</strong></p>

           <p class="p">We will retain your Personal Information for as long as you maintain an account or subscription with Us. We may also retain your Personal Information in order to comply with legal obligations and to support our agreements.</p>


           <h4>Data Processing</h4>

           <p class="p">Where We are processing your Personal Information, You have the right to request access, modify, or delete Personal Information. In certain situations, you have the right to request confirmation from Us as to whether we are processing Your Information and the right to receive the Personal Information that you provided to Us or to restrict processing of this Information.</p>

           <p class="p">You may contact us if you wish to exercise your rights in respect to your Personal Data. Certain Information may have conditional access, modification, transfer ability, restriction, or deletion. In some instances, and where permissible, we may charge for this service. We will respond to any reasonable requests as required by law.</p>

           <h4>Changes to The Privacy Policy</h4>

           <p class="p">We reserve the right to make modifications or void this Privacy Policy at any time and in any manner that is fully permitted by law. If significant changes are made, we will provide notice of these changes. All changes to this Privacy Policy are effective as of the “Last Revised” date listed at the bottom of the Privacy Policy. Continued use of our Services after the Last Revised date constitutes Your acceptance of and agreement to be bound by those changes.</p>

           <h4>Complaints</h4>

           <p class="p">You have the right to lodge a complaint to the data protection authority in your country.</p>

           <h4>How to Contact Us</h4>

           <p class="p">If you have any general questions about the Services or information stated in this Privacy Policy, you may contact us via email at <a href="mailto:admin@streamvertigo.com">admin@streamvertigo.com</a> or mail us at:</p>

           <h4>StreamVertigo Inc.</h4>

           <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                 <p class="p">1350 E. Flamingo Road, #746<br> Las Vegas, Nevada 89119</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                 <p class="p">Att: Privacy Policy</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                 <p class="p">Effective Date: March 17, 2019</p>
              </div>
           </div>

        </div>
     </div>
  </div>
</div>