<div class="container-fluid profile-background">
  
  <!--Common user's profile tab -->
  <user-profile-tabs></user-profile-tabs>

  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p class="p-3">Balance: <strong>18006.85</strong></p>
          <h2 class="text-center bold">Model Payment History</h2>
          <form method="POST" class="form-inline p-3 earn-history-form">
            <div class="form-group">
              <select class="form-control" name="year">
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
                <option value="2034">2034</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control" name="date">
                <option value="1 Jan - 15 Jan">1 Jan - 15 Jan</option>
                <option value="16 Jan - 31 Jan">16 Jan - 31 Jan</option>
                <option value="1 Feb - 15 Feb">1 Feb - 15 Feb</option>
                <option value="16 Feb - 29 Feb">16 Feb - 29 Feb</option>
                <option value="1 Mar - 15 Mar">1 Mar - 15 Mar</option>
                <option value="16 Mar - 31 Mar">16 Mar - 31 Mar</option>
                <option value="1 Apr - 15 Apr">1 Apr - 15 Apr</option>
                <option value="16 Apr - 30 Apr">16 Apr - 30 Apr</option>
                <option value="1 May - 15 May">1 May - 15 May</option>
                <option value="16 May - 31 May">16 May - 31 May</option>
                <option value="1 Jun - 15 Jun">1 Jun - 15 Jun</option>
                <option value="16 Jun - 30 Jun">16 Jun - 30 Jun</option>
                <option value="1 Jul - 15 Jul">1 Jul - 15 Jul</option>
                <option value="16 Jul - 31 Jul">16 Jul - 31 Jul</option>
                <option value="1 Aug - 15 Aug">1 Aug - 15 Aug</option>
                <option value="16 Aug - 31 Aug">16 Aug - 31 Aug</option>
                <option value="1 Sep - 15 Sep">1 Sep - 15 Sep</option>
                <option value="16 Sep - 30 Sep">16 Sep - 30 Sep</option>
                <option value="1 Oct - 15 Oct">1 Oct - 15 Oct</option>
                <option value="16 Oct - 31 Oct">16 Oct - 31 Oct</option>
                <option value="1 Nov - 15 Nov">1 Nov - 15 Nov</option>
                <option value="16 Nov - 30 Nov">16 Nov - 30 Nov</option>
                <option value="1 Dec - 15 Dec">1 Dec - 15 Dec</option>
                <option value="16 Dec - 31 Dec">16 Dec - 31 Dec</option>
              </select>
            </div>
            <div class="form-group">
              <input type="submit" name="submit" class="btn btn-default submit-btn" value="Submit">
            </div>
          </form>
            <div class="p-3">
            <div class="p-3" style="background: #fff;">
              <h3 class="text-center text-danger mb-3">Performer Payout History</h3>
              <div class="table-responsive p-3">
              <table class="table text-center table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Total Candies</th>
                    <th class="text-center">Performer(50%)</th>
                    <th class="text-center">Admin(50%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>42.5</td>
                    <td>41.25</td>
                    <td>41.25</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h3 class="text-center text-danger mt-3 mb-3">Performer Earning History</h3>
            <h3 class="text-center">Candies ($10= 100 Candies)</h3>
            <div class="table-responsive p-3 earning-table">
              <table class="table text-center table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Rate/Minute</th>
                    <th class="text-center">Candies</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Entry</th>
                    <th class="text-center">Show Length</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>July 01,2020 08:49 am</td>
                    <td>30/min</td>
                    <td>80.50</td>
                    <td>$ 8.05</td>
                    <td>  Earning from PPM private session with paul Jul 1 11:26 3m0:2:41 min</td>
                    <td>0:2:41 min</td>
                  </tr><tr>
                    <td>July 01,2020 08:49 am</td>
                    <td>30/min</td>
                    <td>80.50</td>
                    <td>$ 8.05</td>
                    <td>  Earning from PPM private session with paul Jul 1 11:26 3m0:2:41 min</td>
                    <td>0:2:41 min</td>
                  </tr><tr>
                    <td>July 01,2020 08:49 am</td>
                    <td>30/min</td>
                    <td>80.50</td>
                    <td>$ 8.05</td>
                    <td>  Earning from PPM private session with paul Jul 1 11:26 3m0:2:41 min</td>
                    <td>0:2:41 min</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive p-3">
              <table class="table text-center table-bordered total-earning">
                <tbody>
                  <tr>
                    <th class="text-center">Total</th>
                    <th class="text-center">30/min</th>
                    <th class="text-center">80.50</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</div>
