<div class="container profile-background">
  
  <!--Common user's profile tab -->
  <user-profile-tabs></user-profile-tabs>

  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-5">
          <h2 class="text-center bold gif_heading">My upload Photos</h2>
          <div class="mprofileGiftlisr">
             <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 grid mt-2">
                     <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 grid mt-2">
                     <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 grid mt-2">
                     <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 grid mt-2">
                     <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 grid mt-2">
                     <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 grid mt-2">
                     <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
                </div>
             </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-5">
                  <legend>
                     <h3>Picture Upload</h3>
                  </legend>
                  <form class="p-2 form-upload" method="POST">
                     <div class="form-group">
                        <label>Category </label>
                        <select name="category" id="category" class="form-control">
                           <option class="level-0" value="1">Uncategorized</option>
                           <option class="level-0" value="99">Couples</option>
                           <option class="level-0" value="100">Gay couples</option>
                           <option class="level-0" value="101">Lesbian couples</option>
                           <option class="level-0" value="102">Straight couples</option>
                           <option class="level-0" value="103">Fetish</option>
                           <option class="level-0" value="104">Gender</option>
                           <option class="level-0" value="105">Female</option>
                           <option class="level-0" value="106">Male</option>
                           <option class="level-0" value="107">Transgender</option>
                           <option class="level-0" value="108">Mature</option>
                           <option class="level-0" value="109">Role play</option>
                           <option class="level-0" value="110">Teen</option>
                           <option class="level-0" value="121">My free show</option>
                           <option class="level-0" value="172">My Nude Show Photos</option>
                           <option class="level-0" value="179">Tips to make more money</option>
                           <option class="level-0" value="180">Latest news&amp; policies</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <label>Gallery(s) </label>
                        <input type="text" name="gallary" id="gallary" class="form-control" value="mycamcandy">
                        <span class="bold">(comma separated) </span>
                     </div>
                     <div class="form-group">
                        <label>Tag(s) </label>
                        <input type="text" name="tag" id="tag" class="form-control">
                        <span class="bold">(comma separated) </span>
                     </div>
                     <div class="form-group">
                        <label>Description </label>
                        <input type="text" name="description" id="description" class="form-control">
                     </div>
                     <div class="form-group">
                        <label>Pictures to upload </label>
                        <input type="file" name="picture" id="picture" class="form-control" multiple="">
                     </div>
                  </form>
               </div>
        </div>
      </div>
  </div>

</div>
