<div class="">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 mt-3">
    <div class="profile-primary-div">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a routerLink="/candy-club/{{username}}/followers">
               <button class="btn-followers">Followers<br>{{followers.length}}</button>
            </a>
        </div>
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a routerLink="/candy-club/{{username}}/followings">
               <button class="btn-following">Following<br>{{followings.length}}</button>
            </a>
         </div>
      </div>
      <ul class="list-group user-profile-list">
        <a routerLink="/candy-club/{{username}}/about" [routerLinkActive]="['active']"><li class="list-group-item" ><i class="fa fa-user float-left" aria-hidden="true"></i> <span class="link">About</span></li></a>
        <a routerLink="/candy-club/{{username}}/activity" [routerLinkActive]="['active']"><li class="list-group-item"><i class=" fa fa-pencil-square-o float-left" aria-hidden="true"></i>  <span class="link">Activity</span></li></a>
        <a routerLink="/candy-club/{{username}}/messages" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-envelope float-left" aria-hidden="true"></i>  <span class="link">Message</span></li></a>
        <a routerLink="/candy-club/{{username}}/earning-history" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-envelope float-left" aria-hidden="true"></i>  <span class="link">Performer Earning History</span></li></a>
        <!-- <a href="#"><li class="list-group-item"><i class="fa fa-video-camera float-left" aria-hidden="true"></i>  <span class="link">Live Cam</span></li></a> 
        <a href="#"><li class="list-group-item"><i class="fa fa-file-photo-o float-left" aria-hidden="true"></i>  <span class="link">My Fan Club Photos</span></li></a>
        <a href="#"><li class="list-group-item"><i class="fa fa-file-video-o float-left" aria-hidden="true"></i>  <span class="link">My Fan Club Videos</span></li></a>-->
        <a routerLink="/candy-club/{{username}}/my-fan-club" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-id-card-o float-left" aria-hidden="true"></i>  <span class="link">My Fan Club Member</span></li></a>
        <a routerLink="/candy-club/{{username}}/free-show-photo" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-file-photo-o float-left" aria-hidden="true"></i>  <span class="link">My Free Show Photos</span></li></a>
        <a routerLink="/candy-club/{{username}}/nude-show-photo" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-file-photo-o float-left" aria-hidden="true"></i>  <span class="link">My Nude Show Photos</span></li></a>
        <a routerLink="/candy-club/{{username}}/recorded-video" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-file-video-o float-left" aria-hidden="true"></i>  <span class="link">My Recorded Videos</span></li></a>
        <a routerLink="/candy-club/{{username}}/top-model" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-users float-left" aria-hidden="true"></i>  <span class="link">Top Models</span></li></a>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 mt-3">
    <div class="img-container user-cover">
      <div *ngIf="user_cover_picture">
        <img [src]="user_cover_picture" class="img-responsive user-cover-photo w-100">
        <div class="top-left cover-menu">
          <ul>
              <li><a routerLink="/candy-club/{{username}}/album">{{sweet_shop_count.album_count}} <br> Candy Albums</a></li>
              <li><a routerLink="/candy-club/{{username}}/collection">{{sweet_shop_count.collection_count}} <br> Candy Collections</a></li>
              <li><a routerLink="/candy-club/{{username}}/sweet-treat">{{sweet_shop_count.sweet_treat_count}} <br> Sweet Treats</a></li>
              <li class="float-right text-center" style="display: inline-block;">
                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#uploadAlbum">
                  <img src="/assets/img/model/iconfinder_179_Upload_183298.png" height="25" width="25">
                </button><br>
                <div class="text-light">Upload Albums</div>
              </li>
              <li class="float-right text-center" style="display: inline-block;">
                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#collection_model">
                  <img src="/assets/img/model/iconfinder_add-item_57905.png" height="25" width="25">
                </button><br>
                <div class="text-light">Add Collections</div>
              </li> 
           <li class="float-right text-center" style="display: inline-block;">
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#sweet_treat_model">
              <img src="/assets/img/model/Gift_Box-36-128.png" height="25" width="25">
            </button><br>
            <div class="text-light">Add Sweet Treats</div>
          </li>
          </ul>
        </div>
      </div>
    <!-- <div class="centered">
      <i class="fa fa-camera upload-button-cover-pic"></i>
      <input class="cover-pic-upload" type="file"/>
    </div> -->
    </div>
    <div class="user-row">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="user-pic">
            <div *ngIf="user_profile_picture">
              <img [src]="user_profile_picture" class="img-responsive img-circle profile-picture">
            </div>
            <!-- <div class="p-image">
               <i class="fa fa-camera upload-button-profile-pic"></i>
                <input class="profile-pic-upload" type="file"/>
             </div> -->
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <div class="username">
            <h3> {{ user_details.name }}  <i class="fa fa-circle" style="font-size: 16px;color: #0bb30b;"></i></h3>
          </div>
          <div class="actions float-right">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true" style="font-size:28px"></i></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/candy-club/{{username}}/edit-profile">Edit Profile</a></li>
                  <li><a routerLink="/account">My Account</a></li>
                  <li><a (click)="logout()" role="button">Logout</a></li>
                  <li><a role="button" class="dropdown-toggle" type="button" data-toggle="dropdown">Cancel</a></li>
                </ul>
              </div>
          </div>
          <div class="desc">
            <p class="p-2">{{ user_details.description }}</p>
          </div>
        </div>
      </div>
      </div>
  
    </div>
  </div>

<!-- sweet treate model-->
<div class="modal fade" id="sweet_treat_model" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" id="sweet_treat_model_close">&times;</button>
          <h4 class="mt-0">Sweet Treat</h4>
          
          <form id="form5" #sweetTreatForm="ngForm" (ngSubmit)="sweetTreatFormFn(sweetTreatForm)"><hr>
           <div class="form-group mt-2">
              <label> Title </label>
              <input type="text" name="title" class="form-control" [(ngModel)]="sweet_treat.title" required/>

              <div class="row mt-2">
                 <div class="col-md-4 mt-2">
                    <label>Candies</label>
                    <input type="number" name="candies" placeholder="9999" class="form-control" [(ngModel)]="sweet_treat.candies" required/>
                 </div>
                 <div class="col-md-4"></div>
                 <div class="col-md-4 mt-2 text-right">
                    <label>
                    <input type="checkbox" name="listing" [(ngModel)]="sweet_treat.listing"/>
                     Unlisted </label>
                 </div>
              </div>

              <div class="row mt-2">
                 <div class="col-md-6 mt-2">
                    <label>Featured Image</label>
                    <div [style.background-image]="sweet_treat_featured_image ? 'url(' + sweet_treat_featured_image + ')' : null" class="user-profile1 thumbnail"></div>
                    <input type="file" name="featured_image" class="form-control" accept="image/png,image/jpeg" (change)="handleSweetTreat($event.target.files)" required/>
                 </div>
                 <div class="col-md-6 mt-2">
                    <label>Description</label>
                    <textarea name="description" class="form-control" [(ngModel)]="sweet_treat.description"></textarea>
                 </div>
              </div>

              <div class="form-group mt-2">
                 <label>+ add a secret note to reveal after purchase</label>
                 <input type="text" name="secret_note" class="form-control" [(ngModel)]="sweet_treat.secret_note"/>
              </div>
              <div class="form-row text-center mt-2 mb-2">
                 <button type="submit" class="btn btn-primary">Add Sweet Treat</button>
              </div>

           </div>
       </form>

      </div>
    </div>

  </div>
</div>


 <!-- Collection model-->
 <div class="modal fade" id="collection_model" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" id="collection_model_close">&times;</button>
          <h4 class="mt-0">Collection</h4>
          
          <form id="form6" #collectionForm="ngForm" (ngSubmit)="collectionFormFn(collectionForm)"><hr>
            <div class="form-group mt-2">
                <label> Collection <span class="text-danger bold">*</span> </label>
                <input type="text" name="collection_title" class="form-control" [(ngModel)]="model_collection.collection_title" required/>

                <label class="mt-2"> Candies <span class="text-danger bold">*</span> </label>
                <input type="number" name="collection_candies" class="form-control" [(ngModel)]="model_collection.collection_candies" required/>
                
                <label class="mt-2"> File Upload <span class="text-danger bold">*</span> </label>
                <div [style.background-image]="collection_featured_image ? 'url(' + collection_featured_image + ')' : null" class="user-profile1 thumbnail"></div>
                <input type="file" name="collection_featured_image" class="form-control" accept="image/png,image/jpeg" (change)="handleCollection($event.target.files)" required/>

                <div class="form-row text-center mt-2 mb-2">
                  <button type="submit" class="btn btn-primary">Add Collection</button>
                </div>
            </div>
          </form>

      </div>
    </div>

  </div>
</div>

<!-- Album upload -->
<div id="uploadAlbum" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form method="POST"enctype="multipart/form-data" #albumUploadForm="ngForm" (ngSubmit)="albumUploadFormFn(albumUploadForm)">
          <div class="form-group">
            <label>Album Title <span class="text-danger">*</span></label>
            <input type="text" name="title" [(ngModel)]="albums.title" class="form-control" required/>
          </div>
          <div class="form-group">
            <label>Tags</label>
            <select class="form-control" name="tags" multiple [(ngModel)]="albums.tags">
              <option  value="Ass">Ass</option>
              <option value="Femdom">Femdom</option>
            </select>
          </div>
          <div class="form-group">
            <label>Collections</label>
            <select class="form-control" name="collection" [(ngModel)]="albums.collection">
              <option value="">Nothing selected</option>
              <option *ngFor="let collection of collection_list" [value]="collection.id" [selected]="albums.collection == collection.id">{{collection.collection_title}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Albums Category <span class="text-danger">*</span></label><br>
            <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="password_check" (change)="togglePassword($event)" name="password_check" class="check_password"><i class="fa fa-lock"></i> Password</label>
            <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="candies_check" (change)="toggleCandies($event)" name="candies_check" class="check_candies"><i class="fa fa-gift"></i> Candies</label>
            <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="albums.listing" name="listing"><i class="fa fa-eye-slash"></i> Unlisted</label>
            <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="albums.vip" name="vip"><i class="fa fa-cube"></i> VIPS</label>
            <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="albums.featured" name="featured"><i class="fa fa-star"></i> Featured</label>
          </div>
          <div class="form-group password-div" *ngIf="password_check">
            <label>Password <span class="text-danger">*</span></label>
            <input type="password" [(ngModel)]="albums.password" name="password"  class="form-control">
          </div>
          <div class="form-group candies-div" *ngIf="candies_check">
            <label>Candies <span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="albums.candies" name="candies" class="form-control">
          </div>
          <div class="form-group">
            <!-- <i *ngFor='let album_videos_url of album_videos_urls' height="75" width="75" class="fa fa-3x fa-video-camera" style="color:red;"></i> -->
            <label>Video Upload</label>
            <input type="file" name="video[]" [(ngModel)]="albums.video" (change)="handleAlbumVideo($event)"  multiple class="form-control" accept="video/mp4,video/mkv,video/flv">          
          </div>
          <div class="form-group">
            <label>Album Cover Image</label>
            <div [style.background-image]="album_cover_image ? 'url(' + album_cover_image + ')' : null" [class]="album_cover_image ? 'user-profile1' : ''"></div>
              <input type="file" name="album_cover_image" [(ngModel)]="albums.album_cover_image" (change)="handleAlbumCover($event.target.files)" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Photos</label>
            <!-- <i *ngFor='let album_photos_url of album_photos_urls' height="75" width="75" class="fa fa-3x fa-video-camera" style="color:red;"></i> -->
            <div class="image-upload-wrap">
              <input class="file-upload-input form-control" name="photo[]" (change)="handleAlbumPhoto($event)"  [(ngModel)]="albums.photo" type='file' accept="image/png,image/jpeg,image/heic" multiple />
            </div>
          </div>
          <div class="form-group">
            <input type="submit" name="submit_album" class="btn btn-info btn-sm" value="Upload Album"> 
          </div>
        </form>
      </div>
    </div>

  </div>
</div>