<div class="">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 mt-3">
    <div class="profile-primary-div">
      
      <ul class="list-group user-profile-list">
        <a routerLink="/candy-club/{{username}}/about"><li class="list-group-item active"><i class="fa fa-user float-left" aria-hidden="true"></i> <span class="link">About</span></li></a>
        <a routerLink="/candy-club/{{username}}/activity"><li class="list-group-item"><i class=" fa fa-pencil-square-o float-left" aria-hidden="true"></i>  <span class="link">Activity</span></li></a>
        <a routerLink="#"><li class="list-group-item"><i class="fa fa-envelope float-left" aria-hidden="true"></i>  <span class="link">Message</span></li></a>
        <a href="#"><li class="list-group-item"><i class="fa fa-video-camera float-left" aria-hidden="true"></i>  <span class="link">Live Cam</span></li></a>
        <a href="#"><li class="list-group-item"><i class="fa fa-file-photo-o float-left" aria-hidden="true"></i>  <span class="link">My Fan Club Photos</span></li></a>
        <a href="#"><li class="list-group-item"><i class="fa fa-file-video-o float-left" aria-hidden="true"></i>  <span class="link">My Fan Club Videos</span></li></a>
        <a routerLink="/candy-club/vip-membership"><li class="list-group-item"><i class="fa fa-flower-o float-left" aria-hidden="true"></i>  <span class="link">Buy Vip Membership</span></li></a>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 mt-3">
    <div class="img-container user-cover">
      <div *ngIf="user_cover_picture">
        <img [src]="user_cover_picture" class="img-responsive user-cover-photo w-100">
        <div class="top-left cover-menu">
          <ul>
              <li><a href="#">31 <br> Candy Albums</a></li>
              <li><a routerLink="/candy-club/{{username}}/collection">6 <br> Candy Collections</a></li>
              <li><a routerLink="/candy-club/{{username}}/sweet-treat">13 <br> Sweet Treats</a></li>
              <li class="float-right text-center" style="display: inline-block;">
                <button class="btn btn-sm btn-info">
                  <img src="/assets/img/model/iconfinder_179_Upload_183298.png" height="25" width="25">
                </button><br>
                <div class="text-light">Upload Albums</div>
              </li>
              <li class="float-right text-center" style="display: inline-block;">
                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#collection_model" class="pointer" >
                  <img src="/assets/img/model/iconfinder_add-item_57905.png" height="25" width="25">
                </button><br>
                <div class="text-light">Add Collections</div>
              </li> 
           <li class="float-right text-center" style="display: inline-block;">
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#sweet_treat_model" class="pointer">
              <img src="/assets/img/model/Gift_Box-36-128.png" height="25" width="25">
            </button><br>
            <div class="text-light">Add Sweet Treats</div>
          </li>
          </ul>
        </div>
      </div>
    <!-- <div class="centered">
      <i class="fa fa-camera upload-button-cover-pic"></i>
      <input class="cover-pic-upload" type="file"/>
    </div> -->
    </div>
    <div class="user-row">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="user-pic">
            <div *ngIf="user_profile_picture">
              <img [src]="user_profile_picture" class="img-responsive img-circle profile-picture">
            </div>
            <!-- <div class="p-image">
               <i class="fa fa-camera upload-button-profile-pic"></i>
                <input class="profile-pic-upload" type="file"/>
             </div> -->
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <div class="username">
            <h3> {{ user_details.name }}  <i class="fa fa-circle" style="font-size: 16px;color: #0bb30b;"></i></h3>
          </div>
          <div class="actions float-right">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true" style="font-size:28px"></i></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/candy-club/{{username}}/edit-profile">Edit Profile</a></li>
                  <li><a routerLink="/account">My Account</a></li>
                  <li><a (click)="logout()" role="button">Logout</a></li>
                  <li><a role="button" class="dropdown-toggle" type="button" data-toggle="dropdown">Cancel</a></li>
                </ul>
              </div>
          </div>
          <div class="desc">
            <p class="p-2">{{ user_details.description }}</p>
          </div>
        </div>
      </div>
      </div>
  
    </div>
  </div>

<!-- sweet treate model-->
<div class="modal fade" id="sweet_treat_model" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" id="sweet_treat_model_close">&times;</button>
          <h4 class="mt-0">Sweet Treat</h4>
          
          <form id="form5" #sweetTreatForm="ngForm" (ngSubmit)="sweetTreatFormFn(sweetTreatForm)"><hr>
           <div class="form-group mt-2">
              <label> Title </label>
              <input type="text" name="title" class="form-control" [(ngModel)]="sweet_treat.title" required/>

              <div class="row mt-2">
                 <div class="col-md-4 mt-2">
                    <label>Candies</label>
                    <input type="number" name="candies" placeholder="9999" class="form-control" [(ngModel)]="sweet_treat.candies" required/>
                 </div>
                 <div class="col-md-4"></div>
                 <div class="col-md-4 mt-2 text-right">
                    <label>
                    <input type="checkbox" name="listing" [(ngModel)]="sweet_treat.listing"/>
                     Unlisted </label>
                 </div>
              </div>

              <div class="row mt-2">
                 <div class="col-md-6 mt-2">
                    <label>Featured Image</label>
                    <div [style.background-image]="sweet_treat_featured_image ? 'url(' + sweet_treat_featured_image + ')' : null" class="user-profile1 thumbnail"></div>
                    <input type="file" name="featured_image" class="form-control" accept="image/png,image/jpeg" (change)="handleSweetTreat($event.target.files)" required/>
                 </div>
                 <div class="col-md-6 mt-2">
                    <label>Description</label>
                    <textarea name="description" class="form-control" [(ngModel)]="sweet_treat.description"></textarea>
                 </div>
              </div>

              <div class="form-group mt-2">
                 <label>+ add a secret note to reveal after purchase</label>
                 <input type="text" name="secret_note" class="form-control" [(ngModel)]="sweet_treat.secret_note"/>
              </div>
              <div class="form-row text-center mt-2 mb-2">
                 <button type="submit" class="btn btn-primary">Add Sweet Treat</button>
              </div>

           </div>
       </form>

      </div>
    </div>

  </div>
</div>


 <!-- Collection model-->
 <div class="modal fade" id="collection_model" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" id="collection_model_close">&times;</button>
          <h4 class="mt-0">Collection</h4>
          
          <form id="form6" #collectionForm="ngForm" (ngSubmit)="collectionFormFn(collectionForm)"><hr>
            <div class="form-group mt-2">
                <label> Collection <span class="text-danger bold">*</span> </label>
                <input type="text" name="collection_title" class="form-control" [(ngModel)]="model_collection.collection_title" required/>

                <label class="mt-2"> Candies <span class="text-danger bold">*</span> </label>
                <input type="number" name="collection_candies" class="form-control" [(ngModel)]="model_collection.collection_candies" required/>
                
                <label class="mt-2"> File Upload <span class="text-danger bold">*</span> </label>
                <div [style.background-image]="collection_featured_image ? 'url(' + collection_featured_image + ')' : null" class="user-profile1 thumbnail"></div>
                <input type="file" name="collection_featured_image" class="form-control" accept="image/png,image/jpeg" (change)="handleCollection($event.target.files)" required/>

                <div class="form-row text-center mt-2 mb-2">
                  <button type="submit" class="btn btn-primary">Add Collection</button>
                </div>
            </div>
          </form>

      </div>
    </div>

  </div>
</div>