<!-- MAIN SECTION STARTS -->
<div class="left-spacing1 sec-padding">
    <div class="row ">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8  col-md-offset-2 col-lg-offset-3 col-lg-6">
            <div class="payment-success text-center">
                <div class="failure-img" style="background-image: url(../../../assets/img/failure1.jpg);"></div>
                <h4 class="bold captalize">your payment has been failure ...</h4>
                <p class="captalize">you can try after some time</p>
                <div class="text-center top-padding">
                    <a routerLink="/">
                        <button class="btn2 width-120  captalize">Go back</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>