.page-bg {
  /*background: #FFFFFF url(../../../../../assets/img/model/footer-bg.png) scroll;*/
  border-top: 2px solid #FFFFFF;
  margin: 20px auto 0;
  position: relative;
  font-size: 16px;
  /*background-position: 279px center;
  background-color: #f084c8;*/
}
a{
  text-decoration: none!important;
}

.post-contant {
  background-color: #fff;
  padding-left: 2%;
  padding-right: 2%;
  line-height: 25px;
}
.text-center {
  text-align: center!important;
}
.text-light {
  color: #f8f9fa!important;
}
.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}
h1 {
  font-size: 2.5rem;
  color: #CF3046;
}
.bg-white{
  background:#fff;
}
.mt-3{
  margin-top: 1.5rem;
}
.p{
  text-align: justify;
  letter-spacing: .5px;
  word-spacing: 3px;
  margin-bottom: 18px;
}
ul{
  list-style: none!important;
}
li{
  margin-bottom: 18px;
}
@media screen and (min-width: 768px){
.home-slider .item{
  position: relative;
}
.text-over-img-top{
  position: absolute;
  width: 40%;
  left: 30%;
  top: 20px;
  color: #fff;
  background:#00000073;
  padding: 20px;
}
.text-over-img-left{
  position: absolute;
  width: 40%;
  left: 0;
  top: 35%;
  color: #fff;
  background:#00000073;
  padding: 20px;
}
.text-over-img-top p, .text-over-img-left p{font-size: 2.2rem;}

.signup-button{
  font-size: 1.5em !important;
  background: #93D9E6;
  font-family: 'Satisfy', Muli, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif !important;
  font-weight: bold !important;
  padding: 15px !important;
  /* line-height: 1.6em !important; */
  color: #d00000;
}
.home-slider .item-1{
 /* background-image: url('../../../assets/img/model/slider1.jpg'); */
  height: 600px;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
}
.home-slider .item-2{
 /* background-image: url('../../../assets/img/model/slider2.jpg'); */
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center!important;
}
.mobile-img{display: none;}
}

@media screen and (max-width: 767px){
  .text-over-img, .home-slider{display: none;}
}

/* the slides */
.slick-slide {
  margin: 0px;
}
/* the parent */
.slick-list {
  margin: 0px;
}