<div class=""> 
   <!-- page-bg -->
  <div class="mobile-img">
     <img [src]="sliders[0]?.img" class="img-responsive">
  </div>
  <div class="owl-carousel home-slider" *ngIf="sliders.length > 0">
      <div *ngFor="let slider of sliders">
         <div class="item item-1" [style.background]="'url(' + slider.img + ')'">
            <div class="text-over-img-{{slider.position}}" id="caption_{{slider.id}}">
               <p>{{slider.caption_text}}</p><br>
               <a routerLink="/register" class="mt-3 signup-button">Sign Up!</a>
            </div>
         </div>
      </div>
  </div>


  <div class="container-fluid post-contant">
     <div class="row bg-white">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
           
           <h1>Why sign up with us?</h1>
           <p class="p">MyCamCandy has a ton of different ways to make money and reward your hard work. In addition to revenue from private shows and tips, you can get ongoing payouts for both the paying customers and the performers you sign up with us, as well as the videos and photos you upload to your room. Make money while you sleep, literally!</p>

           <h1>What will you need?</h1>

        </div>
     </div>
  </div>
</div>