<!-- MAIN SECTION STRATS -->
<div class="sec-padding left-spacing1">
    <div class="public-video-header top-margin">FOLLOWING</div>
    <!-- FOLLOWING LIST STARTS -->
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 top-margin" *ngFor="let following_detail of following_details;let i = index;">
            <div class="user-profile text-center box-shadow">
                <a routerLink="/view-profile" [queryParams]="{peer_id : following_detail.follower_id}">
                    <div class="profile-user-img"> 
                        <div class="img-circle  following-img" [style.background-image] = "'url('+following_detail.picture+')'"></div>
                    </div>
                    <h4 class="h4-s user-name text-bold text-overflow"> {{following_detail.name}}</h4>
                </a>
                <button class="btn2 min-width-120 mb-20 mt-10" type="button" *ngIf="!following_detail.is_block && following_detail.status == 1" (click)="unFollowUser(following_detail.follower_id, i)">Unfollow</button>
                <button class="btn2 min-width-120 mb-20 mt-10" type="button" *ngIf="!following_detail.is_block && following_detail.status == 0" (click)="followUser(following_detail.follower_id, i)">Follow</button>
                <button class="btn2 min-width-120 mb-20 mt-10" type="button" *ngIf="following_detail.is_block"  (click)="unBlockUser(following_detail.follower_id, i)">UnBlock</button>
            </div>
        </div>              		
    </div>
    <!-- FOLLOEING LIST ENDS -->

    <!--<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 top-margin">
            <div class="user-profile text-center box-shadow">
                <a routerLink="/view-profile">
                    <div class="profile-user-img"> 
                        <div class="img-circle  following-img"></div>
                    </div>
                    <h4 class="h4-s user-name text-bold text-overflow">following_detail.name</h4>
                </a>
                <button class="btn2 min-width-120 mb-20 mt-10" type="button" >Unfollow</button>
            </div>
        </div>              		
    </div> -->
    <div class="Spacer-10"></div>

    <div class="loader" *ngIf="showFollowingLoader">
        <div class="spin"></div>
        <div class="bounce"></div>
    </div>

    <div class="text-center" *ngIf="followingsSkipCount > 0 && datasAvailable > 0">
        <button class="show-more-btn" (click)="showMoreFollowings()">Show more</button>
    </div>
    <div class="no_result_class text-center" *ngIf="followingsSkipCount <= 0">
        <div>
            <h3 class="tab-head text-center">No Following history found</h3>
            <img class="noresult-img" src="../../../assets/img/no-result.gif">
        </div>
    </div>
</div>
<!-- MAIN SECTION ENDS -->