/********************User end Activity Start**********************/

.profile-background .container{
  background: #fff;
  padding:0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.user-profile-list{
  margin:0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.user-profile-list a{
  color:#484747!important;
}
.post-body img{width: 150px;}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.profile-primary-div ul li{background: #ffbf0047;border-color: #ffc107;}
.user-profile-list a:hover li{
  background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
}
.user-profile-list li{text-align: center;}
.user-profile-list li i.fa{font-size:22px;}
.user-profile-list a:hover li.active{
  background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
}
.user-profile-list li.active{
  background-color: #ffc107;
  border-color: #ffc107;
}
/***Sidebar menu End**/

.mt-3{margin-top: 2rem;}
.mt-1{margin-top: .8rem;}
.mt-5{margin-top: 3rem;}
.mb-5{margin-bottom: 3rem!important;}
.mb-1{margin-bottom:.5rem;}
.p-2{padding: .5rem;}
.bg-light{background: #f7f7f7;}
.border{
  border: 1px solid #ccc;
  border-radius: 0px;
}

.user-row{background: #efefef;margin-top: 10px;}
.user-pic img{
  padding:10px;
  position: absolute;
  top:-100px;
}
.actions{
  margin-right: 10px;
    margin-top: -37px;
}
.actions .dropdown-menu{left: -110px}
#post-on-wall{
  margin: 3rem 0rem 0rem;
  /* border: 1px solid #ccc;
  border-radius: 5px; */
}
#uploaded-file{
  width: 25px;
  position: absolute;
  left: 55px;
  opacity: 0;
  top: 20.5%;
}
.user-activity{
    height: 500px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.post-footer-option .list-unstyled {
    display: inline-flex;
}
.post-footer-option .list-unstyled li a{padding: 10px}

@media screen and (max-width: 767px){
  .user-pic img {
    position: relative;
    top: unset;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.desc, .username{text-align: center;}
}
@media screen and (max-width: 991px) and (min-width: 768px){
  .user-pic img {
    top: -65px;
}
}

.media-left{
  padding-right: 0px;
}
.ml-1{
  margin-left:.5rem;
}
.ml-3{
  margin-left: 1.3rem;
}
.text-danger{
  color: #CF3046!important;
}
.text-secondary{
  color: #9c9a9a!important;
}
a{
  text-decoration: none!important;
}
.post-footer-option {
  background: #fff;
  margin-bottom: 10px;
  padding: 5px;
}
.border-left{
  border-left: 2px solid #cccccc;
  border-spacing: 15px 10px;
}
.vertical-align-middle{
  vertical-align: middle;
}
.d-inline-table{
  display: inline-table;
}
.d-inline-flex{
  display: inline-flex;
}
.d-none{
  display: none;
}
.enable-edit p{
  display: none;
}
.enable-edit h5 span{
  display: none;
}
.enable-edit div{
  display: block !important;
}
i.fa.fa-close {
  color: #d21b1b;
}
.media{
  position: relative;
  overflow: unset;
}
.edit-delete{
  position: absolute;
  right: 15px;
  top: 5px;
}
.font-18{
  font-size: 18px;
}
.small, small {
  font-size: 80%;
  font-weight: 400;
}
.dropdown-menu {
  left: 0;
  right: unset;
}
.dropdown-right-0 {
  left: unset;
  right: 0;
}
.media-body {
  overflow: unset;
}
.post-comment .media:hover .hide-comment,.reply-to-reply .media:hover .hide-comment{
  display: block;
}
.mb-2{
  margin-bottom: 1.5rem; 
}
.custom-textarea{
  width:95%;
  height: 35px;
}
/********************User end Activity End**********************/