<div class="container-fluid profile-background">

    <!--Common user's profile tab -->
  <user-profile-tabs></user-profile-tabs>
          
		      <div class="row">
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
               <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="padding: 0px 30px;">
                     
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="post-on-wall">
                        <div>
                        <form class="p-2 bg-light" method="POST">
                           <h4>Post on your wall</h4>
                           <div class="form-group">
                                    <textarea class="form-control" placeholder="What's on your mind?" name="post" id="post"></textarea>
                                 </div>
                                 <i class="fa fa-camera p-1" aria-hidden="true" style="font-size: 22px"></i>
                                 <input type="file" name="uploaded-file" id="uploaded-file">
                                 <button class="btn btn-sm btn-warning float-right" name="submit" id="submit" type="button">Post</button>
                        </form>
                        </div>
                        <div class="user-activity mt-5">
                           <div class="panel panel-default mt-2">
                                             <div class="panel-body p-2">
                                                <section class="post-heading">
                                                   <div class="row">
                                                      <div class="col-md-12 col-sm-12  col-xs-12">
                                                         <div class="media">
                                                            <div class="media-left">
                                                               <a href="#">
                                                               <img class="media-object photo-profile" [src]="user_profile_picture" width="40" height="40" alt="...">
                                                               </a>
                                                            </div>
                                                            <div class="media-body">
                                                               
                                                                  <h5 class="media-heading" style="margin-bottom: 0;">&nbsp;&nbsp;<a href="#" class="anchor-username">Model</a></h5>
                                                               <a href="#" class="anchor-time">&nbsp;&nbsp;September 27 at 10:25am</a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </section>
                                                <section class="post-body mt-3">
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras 
                                                      turpis sem, dictum id bibendum eget, malesuada ut massa. Ut scel
                                                      erisque nulla sed luctus dapibus. Nulla sit amet mi vitae purus sol
                                                      licitudin venenatis. Praesent et sem urna. Integer vitae lectus nis
                                                      l. Fusce sapien ante, tristique efficitur lorem et, laoreet ornare lib
                                                      ero. Nam fringilla leo orci. Vivamus semper quam nunc, sed ornare magna dignissim sed. Etiam interdum justo quis risus
                                                      efficitur dictum. Nunc ut pulvinar quam. N
                                                      unc mollis, est a dapibus dignissim, eros elit tempor diam, eu tempus quam felis eu velit.
                                                   </p>
                                                </section>
                                                <section class="post-body mt-3">
                                                   <img [src]="user_profile_picture" class="img-responsive">
                                                </section>
                                                <section class="post-body mt-3">
                                                   <!-- Videos section-->
                                                </section>
                                                <section class="post-footer">
                                                   <hr>
                                                   <div class="post-footer-option">
                                                      <ul class="list-unstyled">
                                                         <li><a href="#"><i class="fa fa-thumbs-up"></i> Like</a></li>
                                                         <!--<li><a href="#"><i class="fa fa-thumbs-down"></i> Unlike</a></li>-->
                                                         <li><a href="#"><i class="fa fa-comment ml-5"></i> Comment</a></li>
                                                      </ul>
                                                   </div>
                                                   <div class="post-footer-comment-wrapper">
                                                      <div class="comment-form">
                                                      </div>
                                                      <div class="comment">
                                                         <div class="media">
                                                            <div class="media-left">
                                                               <a href="#">
                                                               <img class="media-object photo-profile mt-2" [src]="user_profile_picture" width="40" height="40" alt="...">
                                                               </a>
                                                            </div>
                                                            &nbsp;&nbsp;
                                                            <div class="media-body">
                                                                  <form method="POST">
                                                                     <textarea class="form-control" placeholder="Write a comment..." name="comment" id="comment"></textarea>
                                                                  </form>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </section>
                                             </div>
                                          </div>
                        </div>
                     </div>
                     
               </div>
		      </div>
</div>