
.forgot-password{
    padding-left: 10%;
    padding-right: 10%;
  }
  .btn-forgot {
    background: #ffc107;
    border-color: #ffc107;
    color: #fff!important;
}
.btn:focus, .btn:active:focus {
  outline: 0px auto -webkit-focus-ring-color;
}
  .margin-t-5{margin-top: 3rem;}
  .mt-3{margin-top:1.5rem;}
  .mb-5{margin-bottom: 3rem;}
  .forgot-form{
    border:1px solid #bbb9b9;
    background: #f1f1f1;
  }
  
  .forgot-form form{padding: 7% 15%;}
  .forgot-form form input{border-radius: 0px}
  @media screen and (max-width: 767px){
    .forgot-img-grid{display: none;}
  }