<div class="container-fluid forgot-password">
	<div class="row margin-t-5 mb-5">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h2>Forgot password?</h2>
			<p>If you've forgotten your password, you can enter your username or email address below. An email will then be sent with a link to set up a new password.</p>
			<div class="forgot-form">
				<form  #forgotPassword="ngForm" (ngSubmit)="sendResetPassword(email.value)">
					<div class="form-group">
						<label>{{'email' | translate}} </label>
						<input type="email" id="email" class="form-control" #email name="email" ngModel>
					</div>
					<div class="form-group">
                        <button class="btn btn-sm btn-forgot" type="submit">{{'submit' | translate}}</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 forgot-img-grid">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-3">
					<img src="./assets/img/signup/2.jpg" class="img-responsive">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-3">
					<img src="./assets/img/signup/3.jpg" class="img-responsive">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-3">
					<img src="./assets/img/signup/4.jpg" class="img-responsive">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-3">
					<img src="./assets/img/signup/5.jpg" class="img-responsive">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-3">
					<img src="./assets/img/signup/6.jpg" class="img-responsive">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-3">
					<img src="./assets/img/signup/7.jpg" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</div>
<common-footer></common-footer>