<div class="container-fluid profile-background">
  <div class="mb-3">    
     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 mt-3">
      <div class="profile-primary-div">
         <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
               <a routerLink="/candy-club/{{username}}/followers">
                  <button class="btn-followers">Followers<br>{{followers.length}}</button>
               </a>
           </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
               <a routerLink="/candy-club/{{username}}/followings">
                  <button class="btn-following">Following<br>{{followings.length}}</button>
               </a>
            </div>
         </div>
         <ul class="list-group user-profile-list">
           <a routerLink="/candy-club/{{username}}/about" [routerLinkActive]="['active']"><li class="list-group-item" ><i class="fa fa-user float-left" aria-hidden="true"></i> <span class="link">About</span></li></a>
           <a routerLink="/candy-club/{{username}}/activity" [routerLinkActive]="['active']"><li class="list-group-item"><i class=" fa fa-pencil-square-o float-left" aria-hidden="true"></i>  <span class="link">Activity</span></li></a>
           <a routerLink="/candy-club/{{username}}/messages" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-envelope float-left" aria-hidden="true"></i>  <span class="link">Message</span></li></a>
           <a routerLink="/candy-club/{{username}}/earning-history" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-envelope float-left" aria-hidden="true"></i>  <span class="link">Performer Earning History</span></li></a>
           <!-- <a href="#"><li class="list-group-item"><i class="fa fa-video-camera float-left" aria-hidden="true"></i>  <span class="link">Live Cam</span></li></a> 
           <a href="#"><li class="list-group-item"><i class="fa fa-file-photo-o float-left" aria-hidden="true"></i>  <span class="link">My Fan Club Photos</span></li></a>
           <a href="#"><li class="list-group-item"><i class="fa fa-file-video-o float-left" aria-hidden="true"></i>  <span class="link">My Fan Club Videos</span></li></a>-->
           <a routerLink="/candy-club/{{username}}/my-fan-club" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-id-card-o float-left" aria-hidden="true"></i>  <span class="link">My Fan Club Member</span></li></a>
           <a routerLink="/candy-club/{{username}}/free-show-photo" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-file-photo-o float-left" aria-hidden="true"></i>  <span class="link">My Free Show Photos</span></li></a>
           <a routerLink="/candy-club/{{username}}/nude-show-photo" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-file-photo-o float-left" aria-hidden="true"></i>  <span class="link">My Nude Show Photos</span></li></a>
           <a routerLink="/candy-club/{{username}}/recorded-video" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-file-video-o float-left" aria-hidden="true"></i>  <span class="link">My Recorded Videos</span></li></a>
           <a routerLink="/candy-club/{{username}}/top-model" [routerLinkActive]="['active']"><li class="list-group-item"><i class="fa fa-users float-left" aria-hidden="true"></i>  <span class="link">Top Models</span></li></a>
         </ul>
       </div>
     </div> 
     <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 mt-3">
        <div class="img-container user-cover">
           <div *ngIf="user_cover_picture">
              <img [src]="user_cover_picture" class="img-responsive user-cover-photo w-100">
              <div class="top-left cover-menu">
               <ul>
                   <li><a href="#">31 <br> Candy Albums</a></li>
                   <li><a routerLink="/candy-club/{{username}}/collection">6 <br> Candy Collections</a></li>
                   <li><a routerLink="/candy-club/{{username}}/sweet-treat">13 <br> Sweet Treats</a></li>
                   <li class="float-right text-center" style="display: inline-block;">
                     <button class="btn btn-sm btn-info">
                       <img src="/assets/img/model/iconfinder_179_Upload_183298.png" height="25" width="25">
                     </button><br>
                     <div class="text-light">Upload Albums</div>
                   </li>
                   <li class="float-right text-center" style="display: inline-block;">
                     <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#collection_model" class="pointer">
                       <img src="/assets/img/model/iconfinder_add-item_57905.png" height="25" width="25">
                     </button><br>
                     <div class="text-light">Add Collections</div>
                   </li> 
                <li class="float-right text-center" style="display: inline-block;">
                 <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#sweet_treat_model" class="pointer">
                   <img src="/assets/img/model/Gift_Box-36-128.png" height="25" width="25">
                 </button><br>
                 <div class="text-light">Add Sweet Treats</div>
               </li>
               </ul>
             </div>
              <div class="centered">

                <div class="dropdown">
                  <a class="dropdown-toggle" role="button" type="button" data-toggle="dropdown"><i class="fa fa-camera upload-button-cover-pic"></i>
                  </a>
                  <ul class="dropdown-menu">              
                    <li>
                      <input type="file" id="file-1" class="inputfile inputfile-2 d-none mycover" accept="image/png,image/jpeg" data-multiple-caption="{count} files selected" (change)="handleCoverPicture($event.target.files)"/>
                      <a (click)="openCoverFile()" role="button">Change Picture</a></li>

                      <li><a role="button" (click)="removeCoverPicture()">Remove Picture</a></li>
                  </ul>
                </div>  
                               
              </div>
              
           </div>
        </div>
        <div class="user-row">
           <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                 <div class="user-pic">
                    <div *ngIf="user_profile_picture">
                       <img [src]="user_profile_picture" class="img-responsive img-circle profile-picture">
                    </div>
                    <div class="p-image">
                       <div class="dropdown">
                        <a class="dropdown-toggle" role="button" type="button" data-toggle="dropdown"><i class="fa fa-camera upload-button-cover-pic"></i>
                        </a>
                        <ul class="dropdown-menu">              
                          <li>
                            <input type="file" id="file-2" class="inputfile inputfile-2 d-none myprofile" accept="image/png,image/jpeg" data-multiple-caption="{count} files selected" (change)="handleProfilePicture($event.target.files)"/>
                            <a (click)="openProfileFile()" role="button">Change Picture</a></li>
                          <li><a role="button" (click)="removeProfilePicture()">Remove Picture</a></li>
                        </ul>
                      </div>
                    </div>
                 </div>
              </div>
            <form id="form4" #updateDescriptionForm="ngForm" (ngSubmit)="updateDescriptionFn(updateDescriptionForm)">
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                 <div class="username">
                     <a routerLink="/candy-club/{{username}}">
                       <h3>{{ username }}  <i class="fa fa-circle" style="font-size: 16px;color: #0bb30b;"></i></h3>
                    </a>
                 </div>
                 <div class="actions float-right">
                 <input type="submit" value="submit" /> 
                 <!-- <i class="fa fa-check text-info" aria-hidden="true" style="font-size:28px"></i> -->
                 </div>
                 <div class="form-group">
                    <textarea class="form-control" placeholder="Description" [(ngModel)]="description" name="description"></textarea>
                 </div>
              </div>
            </form>
           </div>
        </div>
        <form class="black-text user-row" id="form3" #updateProfileForm="ngForm" (ngSubmit)="updateModelProfileFn(updateProfileForm)">
               
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-5 follower">
                  <h5 class="h5-toggle mt-3" data-toggle="collapse" data-target="#demo">About You</h5>
                    <div id="demo" class="collapse mt-3">
                      <div class="form-group">
                        <label class="bold">How would you describe your personality?</label>
                        <ckeditor
                           [(ngModel)]="model_details.describe_your_personality"
                           name="describe_your_personality"
                           [config]="config"
                           [readonly]="false">
                        </ckeditor>
                     </div>
                      <div class="form-group">
                        <label class="bold">What kind of show do you like putting on in your chat room?</label>
                        <ckeditor
                           [(ngModel)]="model_details.what_kind_chat_room"
                           name="what_kind_chat_room"
                           [config]="config"
                           [readonly]="false">
                        </ckeditor>
                      </div>
                      <div class="form-group">
                        <label class="bold">What turns you on and get you going?</label>
                        <ckeditor
                           [(ngModel)]="model_details.turns_on_you_going"
                           name="turns_on_you_going"
                           [config]="config"
                           [readonly]="false">
                        </ckeditor>
                     </div>
                      <div class="form-group">
                        <label class="bold">What annoys you and puts you in a bad mood?</label>
                        <ckeditor
                           [(ngModel)]="model_details.what_annoys_bed_room"
                           name="what_annoys_bed_room"
                           [config]="config"
                           [readonly]="false">
                        </ckeditor>
                     </div>
                      <div class="form-group">
                        <label class="bold">Who is your dream customer?</label>
                        <ckeditor
                           [(ngModel)]="model_details.who_dream_customer"
                           name="who_dream_customer"
                           [config]="config"
                           [readonly]="false">
                        </ckeditor>
                     </div>
                    </div>
                    <h5 class="h5-toggle mt-3" data-toggle="collapse" data-target="#demo1">Schedule</h5>
                    <div id="demo1" class="border-bottom mt-3 collapse">
                       <a href="#">Add to schedule</a>
                    </div>
                    <h5 class="h5-toggle mt-3" data-toggle="collapse" data-target="#demo2">General</h5>
                    <div id="demo2" class="mt-3 collapse">
                       <div class="row">
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.zodiac_signs.profile_categories_views && general.zodiac_signs.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.zodiac_signs.name}}</label>
                                <select class="form-control" [(ngModel)]="model_details.zodiac_signs" name="zodiac_signs" id="zodiac_signs">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let zodiac_signs of general.zodiac_signs.profile_categories_views" [selected]="model_details.zodiac_signs == zodiac_signs.id" [value]="zodiac_signs.id">
                                       {{zodiac_signs.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>                           
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.height.profile_categories_views && general.height.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.height.name}}</label>
                                <select class="form-control"   [(ngModel)]="model_details.height" name="height" id="height">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let height of general.height.profile_categories_views" [selected]="model_details.height == height.id" [value]="height.id">
                                       {{height.name}}
                                     </option>                                   
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2">
                             <div class="form-group">
                              <label class="bold"><i class="fa fa-calendar"></i> Birth Date</label>
                                <input type="date" class="form-control" [(ngModel)]="model_details.dob" name="dob">
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.weight.profile_categories_views && general.weight.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.weight.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.weight" name="weight" id="weight">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let weight of general.weight.profile_categories_views" [selected]="model_details.weight == weight.id" [value]="weight.id">
                                       {{weight.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.public_age.profile_categories_views && general.public_age.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.public_age.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.public_age" name="public_age" id="public_age">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let public_age of general.public_age.profile_categories_views" [selected]="model_details.public_age == public_age.id" [value]="public_age.id">
                                       {{public_age.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.breast_size_number.profile_categories_views && general.breast_size_number.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.breast_size_number.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.breast_size_number" name="breast_size_number" id="breast_size_number">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let breast_size_number of general.breast_size_number.profile_categories_views" [selected]="model_details.breast_size_number == breast_size_number.id" [value]="breast_size_number.id">
                                       {{breast_size_number.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.public_country.profile_categories_views && general.public_country.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.public_country.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.public_country" name="public_country" id="public_country">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let public_country of general.public_country.profile_categories_views" [selected]="model_details.public_country == public_country.id" [value]="public_country.id">
                                       {{public_country.name}}
                                     </option>                          
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.breast_size_letter.profile_categories_views && general.breast_size_letter.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.breast_size_letter.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.breast_size_letter" name="breast_size_letter">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let breast_size_letter of general.breast_size_letter.profile_categories_views" [selected]="model_details.breast_size_letter == breast_size_letter.id" [value]="breast_size_letter.id">
                                       {{breast_size_letter.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.language_spoken.profile_categories_views && general.language_spoken.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.language_spoken.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.language_spoken" name="language_spoken">
                                 <option value="">Nothing selected</option>
                                 <option *ngFor="let language_spoken of general.language_spoken.profile_categories_views" [selected]="model_details.language_spoken == language_spoken.id" [value]="language_spoken.id">
                                    {{language_spoken.name}}
                                  </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.breast_type.profile_categories_views && general.breast_type.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.breast_type.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.breast_type" name="breast_type">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let breast_type of general.breast_type.profile_categories_views" [selected]="model_details.breast_type == breast_type.id" [value]="breast_type.id">
                                       {{breast_type.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.gender.profile_categories_views && general.gender.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.gender.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.gender" name="gender">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let gender of general.gender.profile_categories_views" [selected]="model_details.gender == gender.id" [value]="gender.id">
                                       {{gender.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.hair_length.profile_categories_views && general.hair_length.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.hair_length.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.hair_length" name="hair_length">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let hair_length of general.hair_length.profile_categories_views" [selected]="model_details.hair_length == hair_length.id" [value]="hair_length.id">
                                       {{hair_length.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.shoe_size.profile_categories_views && general.shoe_size.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.shoe_size.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.shoe_size" name="shoe_size">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let shoe_size of general.shoe_size.profile_categories_views" [selected]="model_details.shoe_size == shoe_size.id" [value]="shoe_size.id">
                                       {{shoe_size.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.hair_color.profile_categories_views && general.hair_color.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.hair_color.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.hair_color" name="hair_color">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let hair_color of general.hair_color.profile_categories_views" [selected]="model_details.hair_color == hair_color.id" [value]="hair_color.id">
                                       {{hair_color.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.public_hair.profile_categories_views && general.public_hair.profile_categories_views.length > 0">
                             <div class="form-group">
                              <label class="bold">{{general.public_hair.name}}</label>
                                <select class="form-control"  [(ngModel)]="model_details.public_hair" name="public_hair">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let public_hair of general.public_hair.profile_categories_views" [selected]="model_details.public_hair == public_hair.id" [value]="public_hair.id">
                                       {{public_hair.name}}
                                     </option>
                                 </select>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6 mt-2" *ngIf="general.body_type.profile_categories_views && general.body_type.profile_categories_views.length > 0">
                           <div class="form-group">
                            <label class="bold">{{general.body_type.name}}</label>
                              <select class="form-control"  [(ngModel)]="model_details.body_type" name="body_type">
                                  <option value="">Nothing selected</option>
                                  <option *ngFor="let body_type of general.body_type.profile_categories_views" [selected]="model_details.body_type == body_type.id" [value]="body_type.id">
                                     {{body_type.name}}
                                   </option>
                               </select>
                           </div>
                        </div>
                       </div>
                    </div>
                    <h5 class="h5-toggle mt-3" data-toggle="collapse" data-target="#demo3">Sexual Preference</h5>
                    <div id="demo3" class="border-bottom mt-3 collapse">
                       <div class="row"*ngIf="general.orientation.profile_categories_views && general.orientation.profile_categories_views.length > 0">
                          <div class="col-lg-12 col-md-12 mt-2">
                             <label class="bold">{{general.orientation.name}}</label>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-2">
                               <div class="form-check" *ngFor="let orientation of general.orientation.profile_categories_views">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" [(ngModel)]="model_details.orientation" name="orientation" [value]="orientation.id">{{orientation.name}}
                                 </label>
                               </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-2">
                                                        
                          </div>
                       </div>
                    </div>
                    <h5 class="h5-toggle mt-3" data-toggle="collapse" data-target="#demo4">Characteristics</h5>
                    <div id="demo4" class="mt-3 collapse">
                       <div class="row">
                          
                          <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
                           <div class="row" *ngIf="general.ethnicity.profile_categories_views && general.ethnicity.profile_categories_views.length > 0">
                              <div class="col-lg-12 col-md-12 mt-2">
                             <label class="bold">{{general.ethnicity.name}}</label>
                             </div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
                                    <div class="form-check" *ngFor="let ethnicity of general.ethnicity.profile_categories_views">
                                       <label class="form-check-label">
                                       <input type="radio" class="form-check-input" [(ngModel)]="model_details.ethnicity" name="ethnicity" [value]="ethnicity.id">{{ethnicity.name}}
                                       </label>
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
                                    
                                 </div>
                           </div>
                          </div>
                          <!--<div class="col-lg-6 col-md-6 col-sm-6 mt-2">
                           <div class="row">
                               <div class="col-lg-12 col-md-12 mt-2">
                             <label class="bold">Hair</label>
                             </div>
                             <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
                             <div class="form-check">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" id="char_hair" name="char_hair" value="Platinum">Platinum
                                 </label>
                               </div>
                               <div class="form-check">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" id="char_hair" name="char_hair" value="Honey">Honey
                                 </label>
                               </div>
                               <div class="form-check">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" id="char_hair" name="char_hair" value="Auburn">Auburn
                                 </label>
                              </div>
                              <div class="form-check">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" id="char_hair" name="char_hair" value="Black">Black
                                 </label>
                              </div>
                           </div> 
                           <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
                             <div class="form-check">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" id="char_hair" name="char_hair" value="Blonde">Blonde
                                 </label>
                               </div>
                               <div class="form-check">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" id="char_hair" name="char_hair" value="Brown">Brown
                                 </label>
                               </div>
                               <div class="form-check">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" id="char_hair" name="char_hair" value="Red">Red
                                 </label>
                              </div>
                              <div class="form-check">
                                 <label class="form-check-label">
                                   <input type="radio" class="form-check-input" id="char_hair" name="char_hair" value="Alternative">Alternative
                                 </label>
                              </div>
                           </div>
                           </div>
                          </div>-->
                          <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
                           <div class="row" *ngIf="general.eyes.profile_categories_views && general.eyes.profile_categories_views.length > 0">

                              <div class="col-lg-12 col-md-12 mt-2">
                                 <label class="bold">{{general.eyes.name}}</label>
                             </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
                                 <div class="form-check" *ngFor="let eyes of general.eyes.profile_categories_views">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" [(ngModel)]="model_details.eyes" name="eyes"  [value]="eyes.id">{{eyes.name}}
                                    </label>
                                 </div>                                 
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 mt-2">

                              </div>

                           </div>
                          </div>
                       </div>
                    </div>
                    <h5 class="h5-toggle mt-3" data-toggle="collapse" data-target="#demo5">Fetishes & Specialties</h5>
                    <div id="demo5" class=" mt-3 collapse">
                       <div class="row">
                          <div class="col-lg-12 col-md-12">
                             <div class="form-group">
                              <label class="bold">{{general.fetishes.name}}</label>
                                <!-- <select class="form-control" multiple  [(ngModel)]="model_details.fetishes" name="fetishes" id="fetishes">
                                    <option value="">Nothing selected</option>
                                    <option *ngFor="let fetishes of general.fetishes.profile_categories_views" [selected]="model_details.fetishes == fetishes.id" [value]="fetishes.id">
                                       {{fetishes.name}}
                                     </option>
                                 </select> -->
                                 <ng-multiselect-dropdown
                                 [placeholder]="'Nothing Selected'"
                                 [data]="general.fetishes.profile_categories_views"
                                 [(ngModel)]="selectedItems"
                                 [settings]="dropdownSettings"
                                 name="fetishes"
                                 >
                                 </ng-multiselect-dropdown>
                             </div>
                          </div>
                       </div>
                    </div>
                    <h5 class="h5-toggle mt-3" data-toggle="collapse" data-target="#demo6">Wish List</h5>
                    <div id="demo6" class=" mt-3 collapse">
                       <div class="row">
                          <div class="col-lg-12 col-md-12">
                             <div class="form-group">
                              <label class="bold">Wish List</label>
                                <!-- <textarea class="form-control" rows="8" [(ngModel)]="model_details.wish_list" name="wish_list"></textarea> -->
                                <ckeditor
                                [(ngModel)]="model_details.wish_list"
                                name="wish_list"
                                [config]="config"
                                [readonly]="false">
                             </ckeditor>
                              </div>
                          </div>
                       </div>
                    </div>
                    <h5 class="h5-toggle mt-3" data-toggle="collapse" data-target="#demo7">Color Scheme</h5>
                    <div id="demo7" class=" mt-3 collapse">
                       <div class="row">
                          <div class="col-lg-6 col-md-6">
                             <div class="form-group">
                              <input type="color" class="form-control" [(ngModel)]="model_details.profile_text_color" (change)="setTextColor($event.target.value)" [ngModelOptions]="{standalone: true}">
                              <label class="bold">Choose your profile text color</label>
                              <input type="text" class="form-control" name="profile_text_color"  [(ngModel)]="model_details.profile_text_color"/>
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                             <div class="form-group">
                              <input type="color" class="form-control" [(ngModel)]="model_details.profile_bg_color" (change)="setBackgroundColor($event.target.value)" [ngModelOptions]="{standalone: true}">
                              <label class="bold">Choose your profile background color</label>
                                <input type="text" class="form-control" name="profile_bg_color"  [(ngModel)]="model_details.profile_bg_color"/>
                             </div>
                          </div>
                       </div>
                    </div>
                    <h5 class="h5-toggle mt-3" data-toggle="collapse" data-target="#demo9">Social Media</h5>
                    <div id="demo9" class=" mt-3 collapse">
                       <div class="row">
                          <!-- <div class="col-lg-4 col-md-4">
                             <div class="form-group">
                              <label class="bold"><i class="fa fa-facebook"></i> Facebook</label>
                                <input type="url" class="form-control" name="fb" id="fb">
                             </div>
                          </div> -->
                          <div class="col-lg-6 col-md-6">
                             <div class="form-group">
                              <label class="bold"><i class="fa fa-twitter"></i> Twitter</label>
                                <input type="url" class="form-control" [(ngModel)]="model_details.twitter" name="twitter">
                             </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                             <div class="form-group">
                              <label class="bold"><i class="fa fa-instagram"></i> Instagram</label>
                                <input type="url" class="form-control"  [(ngModel)]="model_details.instagram" name="instagram">
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-lg-6 col-md-6 mt-3">
                          <input type="submit" class="btn btn-info btn-block" id="update_profile" value="Update Profile">
                       </div>
                       <div class="col-lg-6 col-md-6 mt-3">
                          <button type="button" class="btn btn-default btn-block"(click)="resetForm()">Cancel</button>
                       </div>
                    </div>
               </div>
         </div>

      </form>
     </div>     
  </div>
</div>

<!-- sweet treate model-->
<div class="modal fade" id="sweet_treat_model" role="dialog">
   <div class="modal-dialog">

     <div class="modal-content">
       <div class="modal-body">
           <button type="button" class="close" data-dismiss="modal" id="sweet_treat_model_close">&times;</button>
           <h4 class="mt-0">Sweet Treat</h4>
           
           <form id="form5" #sweetTreatForm="ngForm" (ngSubmit)="sweetTreatFormFn(sweetTreatForm)"><hr>
            <div class="form-group mt-2">
               <label> Title </label>
               <input type="text" name="title" class="form-control" [(ngModel)]="sweet_treat.title" required/>

               <div class="row mt-2">
                  <div class="col-md-4 mt-2">
                     <label>Candies</label>
                     <input type="number" name="candies" placeholder="9999" class="form-control" [(ngModel)]="sweet_treat.candies" required/>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4 mt-2 text-right">
                     <label>
                     <input type="checkbox" name="listing" [(ngModel)]="sweet_treat.listing"/>
                      Unlisted </label>
                  </div>
               </div>

               <div class="row mt-2">
                  <div class="col-md-6 mt-2">
                     <label>Featured Image</label>
                     <div [style.background-image]="sweet_treat_featured_image ? 'url(' + sweet_treat_featured_image + ')' : null" class="user-profile1 thumbnail"></div>
                     <input type="file" name="featured_image" class="form-control" accept="image/png,image/jpeg" (change)="handleSweetTreat($event.target.files)" required/>
                  </div>
                  <div class="col-md-6 mt-2">
                     <label>Description</label>
                     <textarea name="description" class="form-control" [(ngModel)]="sweet_treat.description"></textarea>
                  </div>
               </div>

               <div class="form-group mt-2">
                  <label>+ add a secret note to reveal after purchase</label>
                  <input type="text" name="secret_note" class="form-control" [(ngModel)]="sweet_treat.secret_note"/>
               </div>
               <div class="form-row text-center mt-2 mb-2">
                  <button type="submit" class="btn btn-primary">Add Sweet Treat</button>
               </div>

            </div>
        </form>

       </div>
     </div>

   </div>
</div>

<!-- Collection model-->
<div class="modal fade" id="collection_model" role="dialog">
   <div class="modal-dialog">
 
     <div class="modal-content">
       <div class="modal-body">
           <button type="button" class="close" data-dismiss="modal" id="collection_model_close">&times;</button>
           <h4 class="mt-0">Collection</h4>
           
           <form id="form6" #collectionForm="ngForm" (ngSubmit)="collectionFormFn(collectionForm)"><hr>
             <div class="form-group mt-2">
                 <label> Collection <span class="text-danger bold">*</span> </label>
                 <input type="text" name="collection_title" class="form-control" [(ngModel)]="model_collection.collection_title" required/>
 
                 <label class="mt-2"> Candies <span class="text-danger bold">*</span> </label>
                 <input type="number" name="collection_candies" class="form-control" [(ngModel)]="model_collection.collection_candies" required/>
                 
                 <label class="mt-2"> File Upload <span class="text-danger bold">*</span> </label>
                 <div [style.background-image]="collection_featured_image ? 'url(' + collection_featured_image + ')' : null" class="user-profile1 thumbnail"></div>
                 <input type="file" name="collection_featured_image" class="form-control" accept="image/png,image/jpeg" (change)="handleCollection($event.target.files)" required/>
 
                 <div class="form-row text-center mt-2 mb-2">
                   <button type="submit" class="btn btn-primary">Add Collection</button>
                 </div>
             </div>
           </form>
 
       </div>
     </div>
 
   </div>
 </div>