<div class="container-fluid profile-background">
  
  <!--Common user's profile tab -->
  <user-profile-tabs></user-profile-tabs>

  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="row">
        <div class="my_free_show_photos">
          <h3 class="text-center">My Free Show Photos</h3>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mt-3">
            <img src="../../../../../assets/img/model/download.jpg" class="img-responsive">
            <input type="checkbox" name="" id="">
          </div>
        </div>
      </div>
      <ul class="pagination mt-5 mb-5 p-3" style="display: flex;">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">Next</a></li>
          <li><a href="#">View All</a></li>
      </ul>
    </div>
  </div>

</div>
