<!-- MAIN SECTION STARTS -->
<div class="sec-padding left-spacing1">
    <!-- <div class="public-video-header top-margin">Edit video</div> -->
    <h3 class="heading-element">edit video</h3>
    <div>
        <div class="top-bottom-spacing">
            <form class="black-text" id="form3" #vodVideoForm="ngForm" (ngSubmit)="saveVod(vodVideoForm)">

                <input type="hidden" id="title" name="video_id" [(ngModel)]="vod_video.vod_id"/>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 center-align">
                            <div [style.background-image]="vod_image ? 'url(' + vod_image + ')' : null" class="user-profile1"></div>
                        <div>
                            <label  class="tab-label center-align size-16">Upload image*</label>
                            <input type="file" name="image" id="file-1" class="inputfile inputfile-2 none" data-multiple-caption="{count} files selected" (change)="handleVodImage($event.target.files)" accept="image/jpeg,image/png"/>
                            <label for="file-1">
                                <i class="fa fa-upload"></i>&nbsp;
                                <span>Choose a file&hellip;</span>
                            </label>
                            <h6 class="note">please enter .png .jpeg .jpg images only. Upload Rectangle images 4:3 Ratio Ex: 400 * 300</h6>
                        </div>
                        <div>
                            <label class="tab-label size-16">Upload video*</label>
                            <input type="file" name="video" id="file-2" class="inputfile inputfile-2 none" data-multiple-caption="{count} files selected" (change)="handleVodVideo($event.target.files)" accept="video/mp4,video/x-matroska"/>
                            <label for="file-2">
                                <i class="fa fa-upload"></i>&nbsp;
                                <span>Choose a file&hellip;</span>
                            </label>
                            <h6 class="note">Please enter .mp4 videos only.</h6>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <!-- <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" id="title" name="title" [(ngModel)]="vod_video.title"/>
                            <label  class="input__label input__label--hoshi input__label--hoshi-color-1" for="name" data-content="Name">
                                <span class="input__label-content input__label-content--hoshi">Name</span>
                            </label>
                        </span> -->
                        <div class="md-form form-lg">
                            <input type="text" id="title" class="form-control form-control-lg" name="title" [(ngModel)]="vod_video.title">
                            <label for="title"  [ngClass]="{'active' : vod_video.title != ''}">title</label>
                        </div>
                        <!-- <span class="input input--hoshi">
                            <textarea class="input__field input__field--hoshi" type="text" id="description" name="description" [(ngModel)]="vod_video.description"></textarea>
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="description" data-content="Description">
                                <span class="input__label-content input__label-content--hoshi">Description</span>
                            </label>
                        </span> -->

                        <div class="Spacer-2"></div>

                        <div class="form-group size-16">
                            <label class="control-label col-sm-3 zero-padding" for="optradio1">Publish type:</label>
                            <div class="col-sm-8">
                                <label class="radio-inline width-100">
                                    <input type="radio" id="optradio1" class="option-input radio" name="publish_type" [checked]="vod_video.publish_type" [(ngModel)]="vod_video.publish_type" [value]="1">Now 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="optradio1" class="option-input radio" name="publish_type" [checked]="vod_video.publish_type" [(ngModel)]="vod_video.publish_type" [value]="2">Later
                                </label>
                            </div>
                        </div>
                        <!-- <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" id="time" name="time"/>
                            <label  class="input__label input__label--hoshi input__label--hoshi-color-1" for="time" data-content="Publish time">
                                <span class="input__label-content input__label-content--hoshi">Publish time</span>
                            </label>
                        </span> -->
                        <div class="Spacer-2"></div>
                        <!-- <div class="md-form form-lg">
                            <input type="text" id="time" class="form-control form-control-lg">
                            <label for="time">publish time</label>
                        </div> -->
                        <div class="mt-15" *ngIf="vod_video.publish_type == 2">

                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="publish_time" [(ngModel)]="vod_video.publish_time" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="md-form form-lg">
                            <textarea type="text" id="desc" class="form-control md-textarea" rows="3" name="description" [(ngModel)]="vod_video.description"></textarea>
                            <label for="desc"  [ngClass]="{'active' : vod_video.description != ''}">description</label>
                        </div>
                        <div class="Spacer-5"></div>
                        <div class="text-right">
                            <button class="btn" type="submit" id="upload_button">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>