<div class="header">
  <div class="container-fluid">
     <nav class="navbar navbar-inverse">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" [routerLink]="['/']"><img src="/assets/img/model/logo.png" height="71" width="186"></a>
         </div>
         <div class="collapse navbar-collapse" id="myNavbar">
           <ul class="navbar-nav navbar-right" *ngIf="userId">
                <li><a routerLink="/model-dashboard"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a routerLink="/"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                <li class="active"><a routerLink="/candy-club/{{username}}">Dashboard</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
                  <ul class="dropdown-menu">
                    <li><a (click)="logout()">Logout</a></li>
                    <li><a href="#">Password Reset</a></li>
                  </ul>
                </li>
                <li routerLink="#" class=""><a href="">Model News</a></li>
                <li class="dropdown" *ngIf="userId">
                  <a class="slidebar-icon pt-19 relative" href="" data-toggle="dropdown" (click)="notificationStatusChange()">
                      <img src="../../../assets/img/bell.png" class="menu-icon bell-noti-icon">
                      <span class="badge notification-badge" *ngIf="notification_count > 0">{{notification_count}}</span>
                  </a>
                  <div class="bell-noti dropdown-menu">
                          <div class="bell-noti-height">
                              <ul class="p-0 m-0 notification-sec header-noti">
                                  <li *ngFor="let notification of notifications">
                                      
                                    <!-- message notification -->
                                    <a routerLink="/candy-club/{{username}}/messages" *ngIf="notifications_types.NEW_MESSAGE == notification.type">
                                      <div class="display-inline pt-10 pb-10">
                                          <div class="noti-img-sec relative">
                                              <img src="{{notification.picture}}" alt="message">
                                          </div>
                                          <div class="noti-text-sec">
                                              <h4>{{notification.notification}}</h4>
                                              <p>{{notification.name}} @ {{notification.created_at}}</p>
                                          </div>
                                      </div>
                                    </a>

                                    <!-- USER_GIFT notification -->
                                    <a *ngIf="notifications_types.USER_GIFT == notification.type">
                                      <div class="display-inline pt-10 pb-10">
                                          <div class="noti-img-sec relative">
                                              <img src="{{notification.picture}}" alt="USER_GIFT">
                                          </div>
                                          <div class="noti-text-sec">
                                              <h4>{{notification.notification}}</h4>
                                              <p>{{notification.name}} @ {{notification.created_at}}</p>
                                          </div>
                                      </div>
                                    </a>

                                    <!-- USER_TIP notification -->
                                    <a *ngIf="notifications_types.USER_TIP == notification.type">
                                      <div class="display-inline pt-10 pb-10">
                                          <div class="noti-img-sec relative">
                                              <img src="{{notification.picture}}" alt="USER_TIP">
                                          </div>
                                          <div class="noti-text-sec">
                                              <h4>{{notification.notification}}</h4>
                                              <p>{{notification.name}} @ {{notification.created_at}}</p>
                                          </div>
                                      </div>
                                    </a>

                                    <!-- ALBUM_BUY notification -->
                                    <a *ngIf="notifications_types.ALBUM_BUY == notification.type">
                                      <div class="display-inline pt-10 pb-10">
                                          <div class="noti-img-sec relative">
                                              <img src="{{notification.picture}}" alt="ALBUM_BUY">
                                          </div>
                                          <div class="noti-text-sec">
                                              <h4>{{notification.notification}}</h4>
                                              <p>{{notification.name}} @ {{notification.created_at}}</p>
                                          </div>
                                      </div>
                                    </a>

                                    <!-- SWEET_TREAT_BUY notification -->
                                    <a *ngIf="notifications_types.SWEET_TREAT_BUY == notification.type">
                                      <div class="display-inline pt-10 pb-10">
                                          <div class="noti-img-sec relative">
                                              <img src="{{notification.picture}}" alt="SWEET_TREAT_BUY">
                                          </div>
                                          <div class="noti-text-sec">
                                              <h4>{{notification.notification}}</h4>
                                              <p>{{notification.name}} @ {{notification.created_at}}</p>
                                          </div>
                                      </div>
                                    </a>
  
                                    <a routerLink="/join-video" [queryParams]="{video_id : notification.link_id}" *ngIf="notifications_types.LIVE_STREAM_STARTED == notification.type">
                                          <div class="display-inline pt-10 pb-10">
                                              <div class="noti-img-sec relative">
                                                  <img src="{{notification.picture}}" alt="live_video_img">
                                                  <div class="live-video-indication">
                                                      <div class="rec-symbol"></div>
                                                  </div>
                                              </div>
                                              <div class="noti-text-sec">
                                                  <h4>{{notification.notification}}</h4>
                                                  <p>{{notification.name}} @ {{notification.created_at}}</p>
                                              </div>
                                          </div>
                                      </a>
  
                                      <a routerLink="/view-profile" [queryParams]="{peer_id : notification.link_id}" *ngIf="notifications_types.USER_FOLLOW == notification.type || notifications_types.USER_JOIN_VIDEO == notification.type">
                                          <div class="display-inline pt-10 pb-10">
                                              <div class="noti-img-sec relative">
                                                  <img src="{{notification.picture}}" alt="live_video_img">
                                                 
                                              </div>
                                              <div class="noti-text-sec">
                                                  <h4>{{notification.notification}}</h4>
                                                  <p>{{notification.name}} @ {{notification.created_at}}</p>
                                              </div>
                                          </div>
                                      </a>
  
                                      <a routerLink="/view-group" [queryParams]="{id : notification.link_id}" [queryParams]="{peer_id : notification.link_id}" *ngIf="notifications_types.USER_GROUP_ADD == notification.type">
                                          <div class="display-inline pt-10 pb-10">
                                              <div class="noti-img-sec relative">
                                                  <img src="{{notification.picture}}" alt="live_video_img">
                                              </div>
                                              <div class="noti-text-sec">
                                                  <h4>{{notification.notification}}</h4>
                                                  <p>{{notification.name}} @ {{notification.created_at}}</p>
                                              </div>
                                          </div>
                                      </a>
                                  </li>
                                  <li *ngIf="notifications.length <= 0">
                                      No notifications found
                                  </li>
                              </ul>
                              <div class="height-37"></div>
                              <div class="noti-footer" *ngIf="notifications.length > 0">
                                  <a routerLink="/notifications">View more</a>
                              </div>
                          </div>
                   </div>
              </li>
           </ul>
           <ul class="navbar-nav navbar-right" *ngIf="!userId">
              <li><a routerLink="/register">Signup</a></li>
              <li><a routerLink="/login">Login</a></li>
          </ul>
         </div>
       </div>
     </nav>
  </div>
</div>