<div class="dashboard-bg">
  <div class="owl-carousel owl-theme">
     <div class="item"><img src="../../../../../assets/img/model/b1.jpg" class="img-responsive"></div>
     <div class="item"><img src="../../../../../assets/img/model/b2.jpg" class="img-responsive"></div>
     <div class="item"><img src="../../../../../assets/img/model/b3.jpg" class="img-responsive"></div>
     <div class="item"><img src="../../../../../assets/img/model/b4.jpg" class="img-responsive"></div>
  </div>
</div>
<div class="dashboard-image">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
           <div class="dashboard-img">
              <a href="#"><img src="../../../../../assets/img/model/download.jpg" alt="" class="img-responsive" /> </a>
           </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 center-text">
           <h3>GOOD NIGHT</h3>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 center-text">
           <a href="#" class="rotatemodel">Model</a>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
           <div class="dashbroadcast">
              <a class="button videostart" href="" ><i class="fa fa-video-camera" aria-hidden="true"></i> <span>Start Streaming</span></a>
           </div>
        </div>
     </div>
  </div>
</div>
<!--End-->
<div class="dashboard-content">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-3 col-sm-5 col-xs-12">
           <div class="dashboard-earning">
              <h2><i class="fa fa-money" aria-hidden="true"></i> <a href="">My Earnings</a></h2>
              <ul class="list-unstyled">
                 <li class="bold">Earning Candy Balance: <strong>18006.06</strong></li>
                 <li class="bold"><a href="">Earning History Details</a></li>
                 <li class="bold"><a href="">Referral income</a></li>
                 <li class="bold"><a href="">Referral Stats</a></li>
              </ul>
           </div>
           <div class="dashboard-earning">
              <h2><i class="fa fa-video-camera" aria-hidden="true"></i> <a href="">My Streams</a></h2>
              <ul class="list-unstyled">
                 <li><a href="">Jensenlive</a></li>
                 <li><a href="">Jensen</a></li>
              </ul>
              <a href="" class="channel">Create new channel</a>
           </div>
           <div class="dashboard-earning">
              <h2><i class="fa fa-video-camera" aria-hidden="true"></i> <a href="">My Followers</a></h2>
              <h5  class="f-18">Followers</h5>
              <ul class="followers-list">
                 <li>
                    <a href="#"><img src="../../../../../assets/img/model/download.jpg" height="45" width="45"></a>
                 </li>
                 <li>
                    <a href="#"><img src="../../../../../assets/img/model/download.jpg" height="45" width="45"></a>
                 </li>
                 <li>
                    <a href="#"><img src="../../../../../assets/img/model/download.jpg" height="45" width="45"></a>
                 </li>
                 <li>
                    <a href="#"><img src="../../../../../assets/img/model/download.jpg" height="45" width="45"></a>
                 </li>
              </ul>
              <h5  class="f-18">Following</h5>
              <ul class="followers-list">
                 <li>
                    <a href="#"><img src="../../../../../assets/img/model/download.jpg" height="45" width="45"></a>
                 </li>
                 <li>
                    <a href="#"><img src="../../../../../assets/img/model/download.jpg" height="45" width="45"></a>
                 </li>
              </ul>
              <span><a href="#" class="f-18">All followers</a></span> | <span><a href="#" class="f-18">All following</a></span>
           </div>
           <div class="dashboard-earning">
              <h2><i class="fa fa-comment" aria-hidden="true"></i> <a href="">Private Messages</a></h2>
              <strong class="unread">Unread: 0</strong>
              <ul class="nav nav-tabs msg-tabs">
                 <li class="active">
                    <a data-toggle="tab" href="#chat1">
                       <div class="media">
                          <div class="media-left">
                             <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                          </div>
                          <div class="media-body">
                             <h4 class="media-heading">Jensen1</h4>
                             <i class="fa fa-circle online"></i>
                          </div>
                       </div>
                    </a>
                 </li>
                 <li>
                    <a data-toggle="tab" href="#chat2">
                       <div class="media">
                          <div class="media-left">
                             <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                          </div>
                          <div class="media-body">
                             <h4 class="media-heading">Jensen2</h4>
                             <i class="fa fa-circle online"></i>
                          </div>
                       </div>
                    </a>
                 </li>
                 <li>
                    <a data-toggle="tab" href="#chat3">
                       <div class="media">
                          <div class="media-left">
                             <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                          </div>
                          <div class="media-body">
                             <h4 class="media-heading">Jensen3</h4>
                             <i class="fa fa-circle online"></i>
                          </div>
                       </div>
                    </a>
                 </li>
              </ul>
              <div class="active-messages">
                 <div class="media">
                    <div class="media-left">
                       <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                       <a href="#" class="text-dark">
                          <h4 class="media-heading bold" style="display: inline;">Jensen1</h4>
                       </a>
                       <a href="#" class="text-dark"><i class="fa fa-trash float-right p-2" style="font-size: 14px"></i></a>
                       <a href="#" class="text-dark"><i class="fa fa-ban float-right p-2" style="font-size: 14px"></i></a>
                    </div>
                 </div>
              </div>
              <div class="tab-content">
                 <div id="chat1" class="tab-pane fade in active">
                    <div class="chat-box mt-4">
                       <p class="p-2 bg-receive">hi, how are you?</p>
                       <p class="p-2 bg-sent">hi, i am fine...<a href="#"><i class="fa fa-trash text-danger float-right"></i></a></p>
                       <p class="p-2 bg-sent">hello<a href="#"><i class="fa fa-trash text-danger float-right"></i></a></p>
                       <p class="p-2 bg-receive">hi</p>
                       <p class="p-2 bg-receive">hi</p>
                    </div>
                    <form method="POST">
                       <div class="form-group">
                          <textarea class="form-control" placeholder="Type a message" name="sent_msg" id="sent_msg"></textarea>
                       </div>
                       <button type="button" name="submit" id="submit" class="mb-3 float-right btn btn-sm btn-primary float-right"><i class="fa fa-envelope p-2" aria-hidden="true"></i> Send message</button><span class="digit-count float-right">200</span> 
                    </form>
                 </div>
                 <div id="chat2" class="tab-pane fade">
                    <h3>Chat-box 2 here</h3>
                 </div>
                 <div id="chat3" class="tab-pane fade">
                    <h3>Chat-box 3 here</h3>
                 </div>
              </div>
           </div>
           <div class="dashboard-earning">
              <h2><i class="fa fa-users" aria-hidden="true"></i> <a href="">My Fan Club</a></h2>
              <div class="members">
                 <h3><span>Members</span> <span class="counted">3</span></h3>
              </div>
              <ul class="list-unstyled">
                 <li class="bold"><a href="">Edit my Fan club profile</a></li>
                 <li class="bold"><a href="">Manage Fan club photos</a></li>
                 <li class="bold"><a href="">Manage Fan club videos</a></li>
              </ul>
           </div>
           <div class="dashboard-earning">
              <h2><i class="fa fa-calendar" aria-hidden="true"></i> <a href="#">Broadcast Schedule</a></h2>
              <a class="mt-4 f-18 text-dark" data-toggle="collapse" data-target="#demo">Add to schedule</a>
              <div id="demo" class="collapse">
                 <form class="schedule-form" method="POST">
                    <div class="form-group">
                       <label>Date <span class="bold text-danger">*</span></label>
                       <input type="date" name="schedule_date" class="form-control">
                    </div>
                    <div class="form-group">
                       <label>Begins at <span class="bold text-danger">*</span></label>
                       <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  mb-10 padding-left-right-8">
                             <select name="start_hour" id="start_hour" class="form-control">
                                <option value=""></option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12" selected="selected">12</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                             </select>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  mb-10 padding-left-right-8">
                             <select name="start_minute" id="start_minute" class="form-control">
                                <option value=""></option>
                                <option value="00" selected="selected">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                                <option value="51">51</option>
                                <option value="52">52</option>
                                <option value="53">53</option>
                                <option value="54">54</option>
                                <option value="55">55</option>
                                <option value="56">56</option>
                                <option value="57">57</option>
                                <option value="58">58</option>
                                <option value="59">59</option>
                             </select>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  mb-10 padding-left-right-8">
                             <select name="start_ampm" id="start_ampm" class="form-control">
                                <option value="AM" selected="selected">AM</option>
                                <option value="PM">PM</option>
                             </select>
                          </div>
                       </div>
                    </div>
                    <div class="form-group">
                       <label>Ends at</label>
                       <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  mb-10 padding-left-right-8">
                             <select name="end_hour" id="end_hour" class="form-control">
                                <option value=""></option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12" selected="selected">12</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                             </select>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  mb-10 padding-left-right-8">
                             <select name="end_minute" id="end_minute" class="form-control">
                                <option value=""></option>
                                <option value="00" selected="selected">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                                <option value="51">51</option>
                                <option value="52">52</option>
                                <option value="53">53</option>
                                <option value="54">54</option>
                                <option value="55">55</option>
                                <option value="56">56</option>
                                <option value="57">57</option>
                                <option value="58">58</option>
                                <option value="59">59</option>
                             </select>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  mb-10 padding-left-right-8">
                             <select name="end_ampm" id="end_ampm" class="form-control">
                                <option value="AM" selected="selected">AM</option>
                                <option value="PM">PM</option>
                             </select>
                          </div>
                       </div>
                    </div>
                    <div class="form-group">
                       <select id="timezone_string" name="timezone_string" class="form-control">
                          <optgroup label="UTC Time Zone">
                             <option value="">Select Time Zone</option>
                             <option value="UTC-12">UTC-12</option>
                             <option value="UTC-11:30">UTC-11:30</option>
                             <option value="UTC-11">UTC-11</option>
                             <option value="UTC-10:30">UTC-10:30</option>
                             <option value="UTC-10">UTC-10</option>
                             <option value="UTC-9:30">UTC-9:30</option>
                             <option value="UTC-9">UTC-9</option>
                             <option value="UTC-8:30">UTC-8:30</option>
                             <option value="UTC-8">UTC-8</option>
                             <option value="UTC-7:30">UTC-7:30</option>
                             <option value="UTC-7">UTC-7</option>
                             <option value="UTC-6:30">UTC-6:30</option>
                             <option value="UTC-6">UTC-6</option>
                             <option value="UTC-5:30">UTC-5:30</option>
                             <option value="UTC-5">UTC-5</option>
                             <option value="UTC-4:30">UTC-4:30</option>
                             <option value="UTC-4">UTC-4</option>
                             <option value="UTC-3:30">UTC-3:30</option>
                             <option value="UTC-3">UTC-3</option>
                             <option value="UTC-2:30">UTC-2:30</option>
                             <option value="UTC-2">UTC-2</option>
                             <option value="UTC-1:30">UTC-1:30</option>
                             <option value="UTC-1">UTC-1</option>
                             <option value="UTC-0:30">UTC-0:30</option>
                             <option value="UTC+0">UTC+0</option>
                             <option value="UTC+0:30">UTC+0:30</option>
                             <option value="UTC+1">UTC+1</option>
                             <option value="UTC+1:30">UTC+1:30</option>
                             <option value="UTC+2">UTC+2</option>
                             <option value="UTC+2:30">UTC+2:30</option>
                             <option value="UTC+3">UTC+3</option>
                             <option value="UTC+3:30">UTC+3:30</option>
                             <option value="UTC+4">UTC+4</option>
                             <option value="UTC+4:30">UTC+4:30</option>
                             <option value="UTC+5">UTC+5</option>
                             <option value="UTC+5:30">UTC+5:30</option>
                             <option value="UTC+5:45">UTC+5:45</option>
                             <option value="UTC+6">UTC+6</option>
                             <option value="UTC+6:30">UTC+6:30</option>
                             <option value="UTC+7">UTC+7</option>
                             <option value="UTC+7:30">UTC+7:30</option>
                             <option value="UTC+8">UTC+8</option>
                             <option value="UTC+8:30">UTC+8:30</option>
                             <option value="UTC+8:45">UTC+8:45</option>
                             <option value="UTC+9">UTC+9</option>
                             <option value="UTC+9:30">UTC+9:30</option>
                             <option value="UTC+10">UTC+10</option>
                             <option value="UTC+10:30">UTC+10:30</option>
                             <option value="UTC+11">UTC+11</option>
                             <option value="UTC+11:30">UTC+11:30</option>
                             <option value="UTC+12">UTC+12</option>
                             <option value="UTC+12:45">UTC+12:45</option>
                             <option value="UTC+13">UTC+13</option>
                             <option value="UTC+13:45">UTC+13:45</option>
                             <option value="UTC+14">UTC+14</option>
                          </optgroup>
                       </select>
                    </div>
                    <div class="form-group">
                       <label>Note</label>
                       <textarea class="form-control" name="note" id="note"></textarea>
                       <div class="small">Optional</div>
                    </div>
                    <div class="form-group">
                       <div class="">
                          <button type="submit" class="btn btn-primary">Submit</button>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
        <div class="col-md-6 col-sm-7 col-xs-12 center-div">
           <div class="model-tabs">
              <ul class="nav nav-pills nav-justified">
                 <li class="active"><a href="#Home" data-toggle="tab">Model of the month</a></li>
                 <li><a href="#About" data-toggle="tab">Latest news & policies</a></li>
                 <li><a href="#Videos" data-toggle="tab">Tips to make more money</a></li>
              </ul>
              <div class="tab-content">
                 <div class="tab-pane fade in active"  id="Home">
                    <div class="tab-body-bg">
                       <p>No model of this month </p>
                    </div>
                 </div>
                 <div class="tab-pane fad tab-div"  id="About">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                       <img src="../../../../../assets/img/model/img-1.png" alt="" class="img-responsive" />
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                       <h3>Performers: Going to the YNOT Cam Awards?</h3>
                       <p>Do you want to win an award at the YNOT Cam Awards this summer? Ten spots are available for Cams.com nominees, so          hurry over to the link below and get nominated. Nominations close on June 14, 2019, so don't wait!</p>
                       <a href=""  class="read-more">Read more...</a>
                    </div>
                 </div>
                 <div class="tab-pane fade tab-div"  id="Videos">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                       <img src="../../../../../assets/img/model/img-1.png" alt="" class="img-responsive" />
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                       <h3>Performers: Going to the YNOT Cam Awards?</h3>
                       <p>Do you want to win an award at the YNOT Cam Awards this summer? Ten spots are available for Cams.com nominees, so          hurry over to the link below and get nominated. Nominations close on June 14, 2019, so don't wait!</p>
                       <a href=""  class="read-more">Read more...</a>
                    </div>
                 </div>
              </div>
           </div>
           <div class="dashboard-earning">
              <h2><i class="fa fa-file-text" aria-hidden="true"></i> <a href="">My Activity</a></h2>
              <p>Today's trending hashtags:</p>
              <div class="chat-div">
                 <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="para-color">Post on your wall</p>
                    <div class="form-group">
                       <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                    <div class="post-div">
                       <div class="col-md-3 col-sm-3 col-xs-3 cam-div">
                          <input type="file" name="upload-img" class="upload-img">
                          <i class="fa fa-camera upload-img-click" aria-hidden="true"></i>
                          <img src="" class="uploaded-img" height="100" width="100">
                       </div>
                       <div class="col-md-9 col-sm-9 col-xs-9">
                          <a href="" class="post">POST</a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 chat-message-text">
                 <div class="chat-message-div2">
                    <div class="media">
                       <div class="media-left">
                          <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                       </div>
                       <div class="media-body">
                          <a href="" class="media-heading">Jensen</a>
                          <p>July 18 at 6:17am</p>
                       </div>
                    </div>
                    <div class="chat-comment">
                       <p>Hi</p>
                    </div>
                    <div class="chat-like">
                       <ul class="list-inline">
                          <li><a href=""><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</a></li>
                          <li><a href=""><i class="fa fa-comment" aria-hidden="true"></i> Comment</a></li>
                       </ul>
                    </div>
                    <div class="message-input">
                       <div class="media">
                          <div class="media-left">
                             <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                          </div>
                          <div class="media-body">
                             <div class="form-group">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="chat-message-div2">
                    <div class="media">
                       <div class="media-left">
                          <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                       </div>
                       <div class="media-body">
                          <a href="" class="media-heading">Jensen</a>
                          <p>July 18 at 6:17am</p>
                       </div>
                    </div>
                    <div class="chat-comment">
                       <img src="../../../../../assets/img/model/img-1.png" class="img-responsive" alt="" />                
                    </div>
                    <div class="chat-like">
                       <ul class="list-inline">
                          <li><a href=""><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</a></li>
                          <li><a href=""><i class="fa fa-comment" aria-hidden="true"></i> Comment</a></li>
                       </ul>
                    </div>
                    <div class="message-input">
                       <div class="media">
                          <div class="media-left">
                             <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                          </div>
                          <div class="media-body">
                             <div class="form-group">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-3 col-sm-7 col-xs-12 third-div">
           <div class="dashboard-earning">
              <h2><i class="fa fa-video-camera" aria-hidden="true"></i> <a href="">Top Models</a></h2>
              <div class="media">
                 <div class="media-left">
                    <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                 </div>
                 <div class="media-body">
                    <a href="" class="media-heading bold">Jensen</a>
                 </div>
              </div>
              <div class="media">
                 <div class="media-left">
                    <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                 </div>
                 <div class="media-body">
                    <a href="" class="media-heading bold">Jensen</a>
                 </div>
              </div>
              <div class="media">
                 <div class="media-left">
                    <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                 </div>
                 <div class="media-body">
                    <a href="" class="media-heading bold">Jensen</a>
                 </div>
              </div>
              <div class="media">
                 <div class="media-left">
                    <img src="../../../../../assets/img/model/download.jpg" class="media-object" style="width:60px">
                 </div>
                 <div class="media-body">
                    <a href="" class="media-heading bold">Jensen</a>
                 </div>
              </div>
           </div>
           <div class="dashboard-earning money">
              <h2><i class="fa fa-usd" aria-hidden="true"></i> <a href="">Make More Money</a></h2>
              <h3 class="follow-color">My followers</h3>
              <h3 class="follow-color">Referral tools</h3>
              <p><a href="#" class="bold">Click to learn about our member referral program</a></p>
           </div>
           <div class="dashboard-earning">
              <h2><i class="fa fa-gift" aria-hidden="true"></i> <a href="">My Gifts</a></h2>
              <ul class="list-unstyled my-gifts">
                 <li><img src="../../../../../assets/img/model/img1.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img2.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img3.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img4.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img1.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img2.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img3.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img4.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img1.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img2.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img3.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img4.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img1.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img2.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img3.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img4.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img1.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img2.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img3.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img4.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img1.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img2.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img3.jpg" alt="" class="img-responsive" /></li>
                 <li><img src="../../../../../assets/img/model/img4.jpg" alt="" class="img-responsive" /></li>
              </ul>
           </div>
        </div>
     </div>
  </div>
</div>