<footer class="footer">
	<div class="container-fluid">
		<div class="row">
		   <div class="col-md-3 col-sm-4 col-xs-12 footer-logo">
			  <a href="#"><img src="/assets/img/model/logo.png" alt="" class="img-responsive"></a>
		   </div>
		   <div class="col-md-6 col-sm-5 col-xs-12">
			  <ul class="list-unstyled">
				 <li><a href="">Privacy Policy</a></li>
				 <li><a href="">COOKIE POLICY</a></li>
				 <li><a href="">DCMA COMPLAINT</a></li>
				 <li><a href="">NOTICE ABOUT INDIVIDUALS PERFORMING ON STREAMVERTIGO</a></li>
				 <li><a href="">18 U.S.C. 2257 Record Keeping Requirements Compliance Statement</a></li>
			  </ul>
		   </div>
		   <div class="col-md-3 col-sm-3 col-xs-12">
			  <ul class="list-unstyled">
				 <li><a href="">MyCamCandy</a></li>
				 <li><a href="">Stream Vertigo - Models</a></li>
				 <li><a href="">Stream Vertigo -Studios</a></li>
			  </ul>
		   </div>
		</div>
		<div class="row">
		   <div class="col-md-12 col-sm-12 col-xs-12 copyright-text">
			  <p>Copyright © 2020. All Rights Reserved.</p>
		   </div>
		</div>
	 </div>	
</footer>