<div class="left-spacing1">
    <div class="row m-0">
        <div class="col-sm-7 col-md-8 col-lg-8 p-0">
            <div class="sec-padding ">
                <h2 class="group-heading">Groups</h2>
                <div class="text-center">
                    <img src="{{user_details.picture}}" onError="this.src='../../../../assets/img/pro-img.jpg'"  class="group-profile-img"/>
                    <h3 class="mt-0">{{user_details.name}}</h3>
                    <h4 class="mt-0 text-grey-clr pro-desc">{{user_details.description ? user_details.description : 'No description found'}}</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-4 p-0 relative"> 
            <group-sidebar></group-sidebar>
        </div>
    </div>
</div>