<div class="main body-img" style="background-image: url(../../../assets/img/bg-video-default.jpg);">
    <div class="overlay align-middle pt-70">
        <div class="signup-form">
            
            <div class="center-align">
                <a routerLink="/login" [queryParams]="{uType : 'creator'}" class="btn btn-default btn-block btn-lg choose-login" type="button">{{'login_as_a_streamer' | translate}}</a>
            </div>
            <div class="center-align">
                <a routerLink="/login" [queryParams]="{uType : 'viewer'}" class="btn btn-default btn-block btn-lg choose-login" type="button">{{'login_as_a_viewer' | translate}}</a>
            </div>
            
        </div>
    </div>
</div>