<div class="page-bg">
  <div class="container post-contant">
     <div class="row bg-white">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center main-heading">
           <h1 class="pb-2 text-light">18 U.S.C. 2257 Record Keeping Requirements Compliance Statement</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">

           <p class="p">All persons who appear in any visual depiction or “sexually explicit conduct” appearing or otherwise contained in StreamVertigo and its subsidiaries were eighteen years of age or older at the time of creation of such depictions. The records required of 18 U.S.C. § 2257 and associated regulations with respect to this site are kept by the custodian of record at the following location:</p>

        </div>
     </div>
  </div>
</div>