<div class="page-bg">
  <div class="mobile-img">
     <img src="../../../../../assets/img/model/slider1.jpg" class="img-responsive">
  </div>
  <div class="owl-carousel owl-theme home-slider">
        <div class="item item-1">
           <div class="text-over-img">
              <p>Make $$$ with the best paying cams site on the Internet. Refer your friends & make even more!</p><br>
              <a href="models/register/" class="mt-3 signup-button">Sign Up!</a>
           </div>
        </div>
        <div class="item item-2">
           <div class="text-over-img">
              <p>Earn 5%-15% Residual Income from every model you register to your team for life!! Build Your Team & Earn Tons of Residual Money Every Month!!</p><br>
              <a href="models/register/" class="mt-3 signup-button">Join Us</a>
           </div>
        </div>
  </div>
  <div class="container-fluid post-contant">
     <div class="row bg-white">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
           
           <h1>Why sign up with us?</h1>
           <p class="p">MyCamCandy has a ton of different ways to make money and reward your hard work. In addition to revenue from private shows and tips, you can get ongoing payouts for both the paying customers and the performers you sign up with us, as well as the videos and photos you upload to your room. Make money while you sleep, literally!</p>

           <h1>What will you need?</h1>

        </div>
     </div>
  </div>
</div>