<div class="page-bg">
  <div class="container post-contant">
     <div class="row bg-white">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center main-heading">
           <h1 class="pb-2 text-light">COOKIE POLICY</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
           <h1>By Continuing to use our site, you agree to our cookie policy</h1>

           <h4>What are cookies?</h4>

           <p class="p">A browser cookie is a small piece of data that is stored on your device to help websites and mobile apps remember things about you and help customize your online experience. Cookies are used across the web to make websites work more efficiently. Cookies are also used to help ensure that the advertisements you see are customized to your likings.</p>

           <h4>Our use of cookies</h4>

           <p class="p">Like many service providers, StreamVertigo and its affiliates use cookies, including third-party cookies, to collect statistics about usage of our services, performance analytics, keep our services secure, provide relevant advertising and overall provide a more customized online experience for you.</p>

           <p class="p">StreamVertigo Websites use “cookies” to store and sometimes track information to customize your online experience. Usage of Cookies allows us to track which of our online featured you prefer but does not reveal anything personally about you unless you give Us additional information.</p>

           <p class="p">Cookies used on our website give us access to small amounts of data that are stored by a User’s web browser on the User’s storage drive. Some cookies are necessary for optimal usage of our websites.</p>

           <p class="p">Some Cookies collect anonymous information on the pages you visit including how long you are on the site, how you got there, and what you clicked on.</p>

           <p class="p">By using our websites, you agree that we can place cookies on your browser to enable you to receive customized ads and more personalized content.</p>

           <p class="p">You have the choice to alter your browser preferences. This means you have the choice to accept all cookies, to be notified when a cookie is set, or to reject all cookies. As mentioned before, if you reject some or all cookies, your experience on our website and other sites throughout the Web may not be complete. Some sites require cookies to function and by not allowing cookies you will not be able to take advantage of personalized content delivery.</p>

           <div class="table-responsive p-3">
              <table class="table text-center table-bordered">
                 <thead>
                    <tr>
                       <th>Category of Cookies</th>
                       <th>What we use these cookies for</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>Necessary</td>
                       <td>
                          <p class="p">We use these cookies to help run our site and to identify and keep your account, data, and StreamVertigo Services safe and secure.</p>
                          <p class="p">For example, we may use these cookies to fight spam and prevent underage people from registering on our site.</p>
                       </td>
                    </tr>
                    <tr>
                       <td>Preferences</td>
                       <td>
                          <p class="p">We use these cookies to remember your settings and preferences, and to improve your experience on our site.</p>
                          <p class="p">For example, we store information in a cookie placed in your browser so you will see our sites in your preferred language.</p>
                       </td>
                    </tr>
                    <tr>
                       <td>Performance</td>
                       <td>
                          <p class="p">We use these cookies to collect information about how you use our site, monitor site our performance, our services, and your overall experience.</p>
                          <p class="p">For example, we can use these cookies to learn more about which features are the most popular with our users and which ones might need to be improved.</p>
                       </td>
                    </tr>
                    <tr>
                       <td>Marketing</td>
                       <td>
                          <p class="p">We use these cookies to deliver advertisements, make them more relevant and meaningful to users and to track the efficiency of our advertising campaigns, on our services and on our affiliated sites.</p>
                          <p class="p">Third-party advertisers may use these cookies to build a profile according to your interests in order to provide relevant advertising on other sites.</p>
                       </td>
                    </tr>
                 </tbody>
              </table>
           </div>

           <p class="p">Most major web browsers are set up so that they will automatically accept cookies, but you may modify your computer’s references to issue you an alert when a cookie is downloaded or even disable the ability of third-parties to download a cookie to your browser or device. If you choose to reject all cookies, there are areas of StreamVertigo’s Websites that may not function to their full potential.</p>

        </div>
     </div>
  </div>
</div>