  .banner-text .form-control {
    width: 25%!important;
    border-radius: 0px!important;
  }
  .banner-text {
    position: absolute;
    top: 60px;
    left: 24%;
    width: 51%;
  }
  .banner-text #login_join{
  background: #ffc107;
    border: #ffc107;
    border-radius: 0;
    padding: 7px;
  }
  .ml-1{margin-left: 1.5px;}
  .mr-1{margin-right: 1.5px;}
  .banner-text a {
    color: #ffa500;
    text-decoration: none;
  }
  .mt-2 {
    margin-top: .5rem;
}
.pr-5 {
    padding-right: 3rem;
}
.pl-5 {
    padding-left: 3rem;
}
.text-light, .text-white {
    color: #fff;
}