<div class="page-bg">
  <div class="container post-contant">
     <div class="row bg-white">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center main-heading">
           <h1 class="pb-2 text-light">DCMA COMPLIANT</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">

           <p class="p">StreamVertigo strives to comply with the provision of the Digital Millennium Copyright Act (DCMA). It is our protocol, in appropriate situations and under our discretion, to remove content that violates such policy and/or terminate the accounts of users who may infringe the copyrights or the intellectual property rights of Streamvertigo, affiliates, and others.</p>

           <p class="p">If you have a matter regarding the use of copyrighted material on any website containing Streamvertigo content in a way that constitutes the copyright infringements of the Digital Millennium Copyright Act of 1998 (“DMCA”) or similar laws, please notify our DCMA Copyright Agent by filling out the form below.</p>

           <p class="p">The DCMA specifies that all infringement claims must be in writing (either electronic mail or paper letter) and must include the following:</p>

           <ol>
              <li>A description of the copyrighted work that you claim has been infringed and multiple copyrighted works on a single online site to be covered by a single notification;</li>
              <li>A description of the material that is claimed to be infringing or to be the subject of infringing activity. There must be enough information to permit the service provider to locate the material;</li>
              <li>A written statement by you that you have a good faith belief that the use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law;</li>
              <li>A statement written by you, under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
              <li>A physical or electronic signature of the copyright holder or a persona authorized to act on his or her behalf;</li>
              <li>Information reasonably sufficient to permit the service provider to contact you such as an address, telephone number, and e-mail.</li>
           </ol>

           <h4>DMCA Compliant</h4>

           <p class="p">Filling this page correctly will make your take-down notice compliant with the Digital Millennium copyright Act and allow to address it expeditiously. note that the information provided in this legal notice will be forwarded to the person who provided the allegedly infringing content.</p>

           <div class="complaint mb-3">
              <form method="POST">
                 <div class="form-group">
                    <label class="bold">Infringing URL</label>
                    <input type="text" name="infrining_url" id="infrining_url" class="form-control">
                 </div>
                 <div class="form-group">
                    <label class="bold">Your e-mail address</label>
                    <input type="email" name="email" id="email" class="form-control">
                 </div>
                 <div class="form-group">
                    <label class="bold">More information</label>
                    <textarea name="info" id="info" rows="7" class="form-control"></textarea>
                 </div>
                 <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="btn btn-info" value="Submit">
                 </div>
              </form>
           </div>

        </div>
     </div>
  </div>
</div>