<div id="videos-container" class="videos-container-mobile android-streamer">
    <div id="defaultImage">
        <!--<img src="http://placeimg.com/640/264/any" style="width: 100%;height: 350px;">-->
        <div class="android-loader">
            <div id="spinningTextG">
                <div id="spinningTextG_1" class="spinningTextG">L</div>
                <div id="spinningTextG_2" class="spinningTextG">o</div>
                <div id="spinningTextG_3" class="spinningTextG">a</div>
                <div id="spinningTextG_4" class="spinningTextG">d</div>
                <div id="spinningTextG_5" class="spinningTextG">i</div>
                <div id="spinningTextG_6" class="spinningTextG">n</div>
                <div id="spinningTextG_7" class="spinningTextG">g</div>
            </div>
        </div>
    </div>
</div>

<button id="join-room" style="display: none;" (click)="joinRoom()" type="button">Join Room</button>