<div class="container-fluid profile-background">
  
  <!--Common user's profile tab -->
  <user-profile-tabs></user-profile-tabs>

  <div class="row mt-5 mb-5">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="row mt-3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-6 btn-grid">
               <a href="#"><button class="btn btn-custom">Upload Photos</button></a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 btn-grid">
               <a href="#"><button class="btn btn-custom">Upload Videos</button></a>
            </div>
         </div>
         <hr>
          <h2 class="text-center bold">My Fan Club Subscription Details</h2>
            <div class="p-3">
            <div class="p-3">
              <div class="table-responsive p-3 subs-table">
                <table class="table text-center table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Subscription</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Renewal Date</th>
                      <th class="text-center">Initial Amount</th>
                      <th class="text-center">Times Billed</th>
                      <th class="text-center">Transaction Id</th>
                      <th class="text-center">User Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Fan Club $5.99/month</td>
                      <td>active</td>
                      <td>2019-12-16</td>
                      <td>$8.05</td>
                      <td>1 / Until cancelled</td>
                      <td>2DX802118X900400M</td>
                      <td>username</td>
                    </tr>
                    <tr>
                      <td>Fan Club $5.99/month</td>
                      <td>active</td>
                      <td>2019-12-16</td>
                      <td>$8.05</td>
                      <td>1 / Until cancelled</td>
                      <td>2DX802118X900400M</td>
                      <td>username</td>
                    </tr>
                    <tr>
                      <td>Fan Club $5.99/month</td>
                      <td>active</td>
                      <td>2019-12-16</td>
                      <td>$8.05</td>
                      <td>1 / Until cancelled</td>
                      <td>2DX802118X900400M</td>
                      <td>username</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</div>
